<div class="container-fuild">
  <div
    class="login-wrapper w-100 overflow-hidden position-relative flex-wrap d-block vh-100"
  >
    <div class="row">
      <div class="col-lg-6">
        <div
          class="d-lg-flex align-items-center justify-content-center bg-light-300 d-lg-block d-none flex-wrap vh-100 overflowy-auto bg-01"
        >
          <div>
            <img
              src="assets/img/authentication/authentication-07.svg"
              alt="Img"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div
          class="row justify-content-center align-items-center vh-100 overflow-auto flex-wrap"
        >
          <div class="col-md-8 mx-auto p-4">
            <form action="reset-password-2">
              <div>
                <div class="mx-auto mb-5 text-center">
                  <img
                    src="assets/img/authentication/authentication-logo.svg"
                    class="img-fluid"
                    alt="Logo"
                  />
                </div>
                <div class="card">
                  <div class="card-body p-4">
                    <div class="mb-4">
                      <h2 class="mb-2">Forgot Password?</h2>
                      <p class="mb-0">
                        If you forgot your password, well, then we’ll email you
                        instructions to reset your password.
                      </p>
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Email Address</label>
                      <div class="input-icon mb-3 position-relative">
                        <span class="input-icon-addon">
                          <i class="ti ti-mail"></i>
                        </span>
                        <input type="text" value="" class="form-control" />
                      </div>
                    </div>
                    <div class="mb-3">
                      <button type="submit" class="btn btn-primary w-100">
                        Sign In
                      </button>
                    </div>
                    <div class="text-center">
                      <h6 class="fw-normal text-dark mb-0">
                        Return to
                        <a href="login-2" class="hover-a"> Login</a>
                      </h6>
                    </div>
                  </div>
                </div>
                <div class="mt-5 text-center">
                  <p class="mb-0">Copyright &copy; <%= new Date().getFullYear() %> - Preskool</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
