<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5 p-4">
      <form action="admin-dashboard">
        <div>
          <div class="mx-auto mb-5 text-center">
            <img
              src="assets/img/authentication/authentication-logo.svg"
              class="img-fluid"
              alt="Logo"
            />
          </div>
          <div class="card">
            <div class="card-body pb-3">
              <div class="mb-4">
                <h2 class="mb-2">Welcome</h2>
                <p class="mb-0">Please enter your details to sign in</p>
              </div>

              <div class="mt-4">
                <div
                  class="d-flex align-items-center justify-content-center flex-wrap"
                >
                  <div class="text-center me-2 flex-fill">
                    <a
                      href="javascript:void(0);"
                      class="bg-primary br-10 p-2 btn btn-primary d-flex align-items-center justify-content-center"
                    >
                      <img
                        class="img-fluid m-1"
                        src="assets/img/icons/facebook-logo.svg"
                        alt="Facebook"
                      />
                    </a>
                  </div>
                  <div class="text-center me-2 flex-fill">
                    <a
                      href="javascript:void(0);"
                      class="br-10 p-2 btn btn-outline-light d-flex align-items-center justify-content-center"
                    >
                      <img
                        class="img-fluid m-1"
                        src="assets/img/icons/google-logo.svg"
                        alt="Facebook"
                      />
                    </a>
                  </div>
                  <div class="text-center flex-fill">
                    <a
                      href="javascript:void(0);"
                      class="bg-dark br-10 p-2 btn btn-dark d-flex align-items-center justify-content-center"
                    >
                      <img
                        class="img-fluid m-1"
                        src="assets/img/icons/apple-logo.svg"
                        alt="Apple"
                      />
                    </a>
                  </div>
                </div>
              </div>
              <div class="login-or">
                <span class="span-or">Or</span>
              </div>
              <div class="mb-3">
                <label class="form-label">Email Address</label>
                <div class="input-icon mb-3 position-relative">
                  <span class="input-icon-addon">
                    <i class="ti ti-mail"></i>
                  </span>
                  <input type="text" value="" class="form-control" />
                </div>
                <label class="form-label">Password</label>
                <div class="pass-group">
                  <input type="password" class="pass-input form-control" />
                  <span class="ti toggle-password ti-eye-off"></span>
                </div>
              </div>

              <div class="form-wrap form-wrap-checkbox">
                <div class="d-flex align-items-center">
                  <div class="form-check form-check-md mb-0">
                    <input class="form-check-input mt-0" type="checkbox" />
                  </div>
                  <p class="ms-1 mb-0">Remember Me</p>
                </div>
                <div class="text-end">
                  <a href="forgot-password" class="link-danger"
                    >Forgot Password?</a
                  >
                </div>
              </div>
            </div>
            <div class="p-4 pt-0">
              <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100">
                  Sign In
                </button>
              </div>
              <div class="text-center">
                <h6 class="fw-normal text-dark mb-0">
                  Don’t have an account?
                  <a href="register" class="hover-a"> Create Account</a>
                </h6>
              </div>
            </div>
          </div>
          <div class="mt-5 text-center">
            <p class="mb-0">Copyright &copy; <%= new Date().getFullYear() %> - Preskool</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
