<div class="content">
  <!-- Page Header -->
  <div
    class="d-md-flex d-block align-items-center justify-content-between mb-3"
  >
    <div class="my-auto mb-2">
      <h3 class="page-title mb-1">Fees Collection</h3>
      <nav>
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="admin-dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Fees Collection </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Fees Master
          </li>
        </ol>
      </nav>
    </div>
    <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
      <div class="pe-1 mb-2">
        <a
          href="#"
          class="btn btn-outline-light bg-white btn-icon me-1"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          aria-label="Refresh"
          data-bs-original-title="Refresh"
        >
          <i class="ti ti-refresh"></i>
        </a>
      </div>
      <div class="pe-1 mb-2">
        <button
          type="button"
          class="btn btn-outline-light bg-white btn-icon me-1"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          aria-label="Print"
          data-bs-original-title="Print"
        >
          <i class="ti ti-printer"></i>
        </button>
      </div>
      <div class="dropdown me-2 mb-2">
        <a
          href="javascript:void(0);"
          class="dropdown-toggle btn btn-light fw-medium d-inline-flex align-items-center"
          data-bs-toggle="dropdown"
        >
          <i class="ti ti-file-export me-2"></i>Export
        </a>
        <ul class="dropdown-menu dropdown-menu-end p-3">
          <li>
            <a href="javascript:void(0);" class="dropdown-item rounded-1"
              ><i class="ti ti-file-type-pdf me-1"></i>Export as PDF</a
            >
          </li>
          <li>
            <a href="javascript:void(0);" class="dropdown-item rounded-1"
              ><i class="ti ti-file-type-xls me-1"></i>Export as Excel
            </a>
          </li>
        </ul>
      </div>
      <div class="mb-2">
        <a
          href="#"
          class="btn btn-primary d-flex align-items-center"
          data-bs-toggle="modal"
          data-bs-target="#add_fees_master"
          ><i class="ti ti-square-rounded-plus me-2"></i>Add Fees Master</a
        >
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <!-- Students List -->
  <div class="card">
    <div
      class="card-header d-flex align-items-center justify-content-between flex-wrap pb-0"
    >
      <h4 class="mb-3">Fees Collection</h4>
      <div class="d-flex align-items-center flex-wrap">
        <div class="input-icon-start mb-3 me-2 position-relative">
          <span class="icon-addon">
            <i class="ti ti-calendar"></i>
          </span>
          <input
            type="text"
            class="form-control date-range bookingrange"
            placeholder="Select"
            value="Academic Year : 2024 / 2025"
          />
        </div>
        <div class="dropdown mb-3 me-2">
          <a
            href="javascript:void(0);"
            class="btn btn-outline-light bg-white dropdown-toggle"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            ><i class="ti ti-filter me-2"></i>Filter</a
          >
          <div class="dropdown-menu drop-width">
            <form action="fees-master">
              <div class="d-flex align-items-center border-bottom p-3">
                <h4>Filter</h4>
              </div>
              <div class="p-3 border-bottom">
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="form-label">ID</label>
                      <select class="select">
                        <option>Select ID</option>
                        <option>FG80482</option>
                        <option>FG80481</option>
                        <option>FG80480</option>
                        <option>FG80479</option>
                        <option>FG80478</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Fees Group</label>
                      <select class="select">
                        <option>Select Fees Group</option>
                        <option>Admission-Fees</option>
                        <option>Class 1 General</option>
                        <option>Monthly Fees</option>
                        <option>Class 1 Lump Sum</option>
                        <option>Class 1- I Installment</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Fees Type</label>
                      <select class="select">
                        <option>Select Fees Type</option>
                        <option>Tuition Fees</option>
                        <option>Monthly Fees</option>
                        <option>Admission Fees</option>
                        <option>Bus Fees</option>
                        <option>Monthly Fees</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Due Date</label>
                      <select class="select">
                        <option>Select Due Date</option>
                        <option>30 Jan 2025</option>
                        <option>12 May 2025</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Fine Type</label>
                      <select class="select">
                        <option>Select Fine Type</option>
                        <option>200</option>
                        <option>300</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Status</label>
                      <select class="select">
                        <option>Select Status</option>
                        <option>Active</option>
                        <option>Inactive</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-3 d-flex align-items-center justify-content-end">
                <a href="#" class="btn btn-light me-3">Reset</a>
                <button type="submit" class="btn btn-primary">Apply</button>
              </div>
            </form>
          </div>
        </div>

        <div class="dropdown mb-3">
          <a
            href="javascript:void(0);"
            class="btn btn-outline-light bg-white dropdown-toggle"
            data-bs-toggle="dropdown"
            ><i class="ti ti-sort-ascending-2 me-2"></i>Sort by A-Z
          </a>
          <ul class="dropdown-menu p-3">
            <li>
              <a
                href="javascript:void(0);"
                class="dropdown-item rounded-1 active"
              >
                Ascending
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item rounded-1">
                Descending
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item rounded-1">
                Recently Viewed
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item rounded-1">
                Recently Added
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body p-0 py-3">
      <!-- Student List -->
      <div class="custom-datatable-filter table-responsive">
        <table class="table datatable">
          <thead class="thead-light">
            <tr>
              <th class="no-sort">
                <div class="form-check form-check-md">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="select-all"
                  />
                </div>
              </th>
              <th>ID</th>
              <th>Fees Group</th>
              <th>Fees Type</th>
              <th>Due Date</th>
              <th>Amount ($)</th>
              <th>Fine Type</th>
              <th>Fine Amount ($)</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">FG80482</a></td>
              <td>Admission-Fees</td>
              <td>Tuition Fees</td>
              <td>30 Jan 2025</td>
              <td>1250</td>
              <td>
                <span class="badge badge-soft-warning">None</span>
              </td>
              <td>200</td>
              <td>
                <span
                  class="badge badge-soft-success d-inline-flex align-items-center"
                  ><i class="ti ti-circle-filled fs-5 me-1"></i>Active</span
                >
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_master"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">FG80481</a></td>
              <td>Class 1 General</td>
              <td>Monthly Fees</td>
              <td>12 May 2025</td>
              <td>250</td>
              <td>
                <span class="badge badge-soft-info">Percentage</span>
              </td>
              <td>300</td>
              <td>
                <span
                  class="badge badge-soft-success d-inline-flex align-items-center"
                  ><i class="ti ti-circle-filled fs-5 me-1"></i>Active</span
                >
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_master"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">FG80481</a></td>
              <td>Monthly Fees</td>
              <td>Admission Fees</td>
              <td>12 May 2025</td>
              <td>250</td>
              <td>
                <span class="badge badge-soft-info">Percentage</span>
              </td>
              <td>300</td>
              <td>
                <span
                  class="badge badge-soft-success d-inline-flex align-items-center"
                  ><i class="ti ti-circle-filled fs-5 me-1"></i>Active</span
                >
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_master"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">FG80481 </a></td>
              <td>Class 1 Lump Sum</td>
              <td>Bus Fees</td>
              <td>12 May 2025</td>
              <td>250</td>
              <td>
                <span class="badge badge-soft-info">Percentage</span>
              </td>
              <td>300</td>
              <td>
                <span
                  class="badge badge-soft-success d-inline-flex align-items-center"
                  ><i class="ti ti-circle-filled fs-5 me-1"></i>Active</span
                >
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_master"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">FG80481</a></td>
              <td>Class 1- I Installment</td>
              <td>Monthly Fees</td>
              <td>12 May 2025</td>
              <td>250</td>
              <td>
                <span
                  class="badge badge-soft-danger d-inline-flex align-items-center"
                  >Fixed</span
                >
              </td>
              <td>300</td>
              <td>
                <span
                  class="badge badge-soft-success d-inline-flex align-items-center"
                  ><i class="ti ti-circle-filled fs-5 me-1"></i>Active</span
                >
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_master"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">FG80481</a></td>
              <td>Class 1-II Installment</td>
              <td>Monthly Fees</td>
              <td>12 May 2025</td>
              <td>250</td>
              <td>
                <span class="badge badge-soft-info">Percentage</span>
              </td>
              <td>300</td>
              <td>
                <span
                  class="badge badge-soft-danger d-inline-flex align-items-center"
                  ><i class="ti ti-circle-filled fs-5 me-1"></i>Inactive</span
                >
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_master"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">FG80481</a></td>
              <td>Discount</td>
              <td>Topper Discount</td>
              <td>12 May 2025</td>
              <td>250</td>
              <td>
                <span class="badge badge-soft-warning">None</span>
              </td>
              <td>300</td>
              <td>
                <span
                  class="badge badge-soft-danger d-inline-flex align-items-center"
                  ><i class="ti ti-circle-filled fs-5 me-1"></i>Inactive</span
                >
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_master"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">FG80481</a></td>
              <td>Class 3- I Installment</td>
              <td>3rd-Installment-Fees</td>
              <td>12 May 2025</td>
              <td>250</td>
              <td>
                <span class="badge badge-soft-warning">None</span>
              </td>
              <td>300</td>
              <td>
                <span
                  class="badge badge-soft-success d-inline-flex align-items-center"
                  ><i class="ti ti-circle-filled fs-5 me-1"></i>Active</span
                >
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_master"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">FG80481</a></td>
              <td>Class 2- I Installment</td>
              <td>3rd-Installment-Fees</td>
              <td>12 May 2025</td>
              <td>250</td>
              <td>
                <span
                  class="badge badge-soft-danger d-inline-flex align-items-center"
                  >Fixed</span
                >
              </td>
              <td>300</td>
              <td>
                <span
                  class="badge badge-soft-success d-inline-flex align-items-center"
                  ><i class="ti ti-circle-filled fs-5 me-1"></i>Active</span
                >
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_master"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">FG80481</a></td>
              <td>Class 4- I Installment</td>
              <td>3rd Installment Fees</td>
              <td>12 May 2025</td>
              <td>250</td>
              <td>
                <span
                  class="badge badge-soft-danger d-inline-flex align-items-center"
                  >Fixed</span
                >
              </td>
              <td>300</td>
              <td>
                <span
                  class="badge badge-soft-success d-inline-flex align-items-center"
                  ><i class="ti ti-circle-filled fs-5 me-1"></i>Active</span
                >
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_master"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /Student List -->
    </div>
  </div>
  <!-- /Students List -->
</div>

<!-- Add Fees Master -->
<div class="modal fade" id="add_fees_master">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
          <h4 class="modal-title">Add Fees Master</h4>
          <span class="badge bg-soft-info ms-2">2024 - 2025</span>
        </div>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form action="fees-master">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Fees Group</label>
                <select class="select">
                  <option>Select</option>
                  <option>Admission-Fees</option>
                  <option>Class 1 General</option>
                  <option>Monthly Fees</option>
                  <option>Class 1 Lump Sum</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Fees Type</label>
                <select class="select">
                  <option>Select</option>
                  <option>Tuition Fees</option>
                  <option>Monthly Fees</option>
                  <option>Admission Fees</option>
                  <option>Bus Fees</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Due Date</label>
                    <div class="date-pic">
                      <input
                        type="text"
                        class="form-control datetimepicker"
                        placeholder="Select"
                      />
                      <span class="cal-icon"
                        ><i class="ti ti-calendar"></i
                      ></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Amount</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Fine Type</label>
                <div class="d-flex align-items-center check-radio-group">
                  <label class="custom-radio">
                    <input type="radio" name="radio" checked="" />
                    <span class="checkmark"></span>
                    None
                  </label>
                  <label class="custom-radio percentage-radio">
                    <input type="radio" name="radio" />
                    <span class="checkmark"></span>
                    Percentage
                  </label>
                  <label class="custom-radio fixed-radio">
                    <input type="radio" name="radio" />
                    <span class="checkmark"></span>
                    Fixed
                  </label>
                </div>
              </div>
              <div class="percentage-field">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label class="form-label">Percentage</label>
                      <input type="text" class="form-control" placeholder="%" />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label class="form-label">Amount ($)</label>
                      <input type="text" class="form-control" placeholder="$" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="fixed-field">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="mb-3">
                      <label class="form-label">Amount ($)</label>
                      <input type="text" class="form-control" placeholder="$" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <div class="status-title">
                <h5>Status</h5>
                <p>Change the Status by toggle</p>
              </div>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="switch-sm"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button type="submit" class="btn btn-primary">Add Fees Master</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Add Fees Master-->

<!-- Edit Fees Master -->
<div class="modal fade" id="edit_fees_master">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
          <h4 class="modal-title">Edit Fees Master</h4>
          <span class="badge bg-soft-info ms-2">2024 - 2025</span>
        </div>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form action="fees-master">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Fees Group</label>
                <select class="select">
                  <option>Select</option>
                  <option selected>Admission-Fees</option>
                  <option>Class 1 General</option>
                  <option>Monthly Fees</option>
                  <option>Class 1 Lump Sum</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Fees Type</label>
                <select class="select">
                  <option>Select</option>
                  <option selected>Tuition Fees</option>
                  <option>Monthly Fees</option>
                  <option>Admission Fees</option>
                  <option>Bus Fees</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Due Date</label>
                    <div class="date-pic">
                      <input
                        type="text"
                        class="form-control datetimepicker"
                        placeholder="Select"
                      />
                      <span class="cal-icon"
                        ><i class="ti ti-calendar"></i
                      ></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Amount</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Amout"
                      value="$500"
                    />
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Fine Type</label>
                <div class="d-flex align-items-center check-radio-group">
                  <label class="custom-radio">
                    <input type="radio" name="radio2" checked="" />
                    <span class="checkmark"></span>
                    None
                  </label>
                  <label class="custom-radio percentage-radio">
                    <input type="radio" name="radio2" />
                    <span class="checkmark"></span>
                    Percentage
                  </label>
                  <label class="custom-radio fixed-radio">
                    <input type="radio" name="radio2" />
                    <span class="checkmark"></span>
                    Fixed
                  </label>
                </div>
              </div>
              <div class="percentage-field">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label class="form-label">Percentage</label>
                      <input type="text" class="form-control" placeholder="%" />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label class="form-label">Amount ($)</label>
                      <input type="text" class="form-control" placeholder="$" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="fixed-field">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="mb-3">
                      <label class="form-label">Amount ($)</label>
                      <input type="text" class="form-control" placeholder="$" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <div class="status-title">
                <h5>Status</h5>
                <p>Change the Status by toggle</p>
              </div>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="switch-sm2"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Edit Fees Master-->

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="fees-master">
        <div class="modal-body text-center">
          <span class="delete-icon">
            <i class="ti ti-trash-x"></i>
          </span>
          <h4>Confirm Deletion</h4>
          <p>
            You want to delete all the marked items, this cant be undone once
            you delete.
          </p>
          <div class="d-flex justify-content-center">
            <a
              href="javascript:void(0);"
              class="btn btn-light me-3"
              data-bs-dismiss="modal"
              >Cancel</a
            >
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Delete Modal -->
