<div class="content">
  <!-- Page Header -->
  <div
    class="d-md-flex d-block align-items-center justify-content-between mb-3"
  >
    <div class="my-auto mb-2">
      <h3 class="page-title mb-1">Fees Collection</h3>
      <nav>
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="admin-dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Fees Collection </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Assign Fees
          </li>
        </ol>
      </nav>
    </div>
    <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
      <div class="pe-1 mb-2">
        <a
          href="#"
          class="btn btn-outline-light bg-white btn-icon me-1"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          aria-label="Refresh"
          data-bs-original-title="Refresh"
        >
          <i class="ti ti-refresh"></i>
        </a>
      </div>
      <div class="pe-1 mb-2">
        <button
          type="button"
          class="btn btn-outline-light bg-white btn-icon me-1"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          aria-label="Print"
          data-bs-original-title="Print"
        >
          <i class="ti ti-printer"></i>
        </button>
      </div>
      <div class="dropdown me-2 mb-2">
        <a
          href="javascript:void(0);"
          class="dropdown-toggle btn btn-light fw-medium d-inline-flex align-items-center"
          data-bs-toggle="dropdown"
        >
          <i class="ti ti-file-export me-2"></i>Export
        </a>
        <ul class="dropdown-menu dropdown-menu-end p-3">
          <li>
            <a href="javascript:void(0);" class="dropdown-item rounded-1"
              ><i class="ti ti-file-type-pdf me-1"></i>Export as PDF</a
            >
          </li>
          <li>
            <a href="javascript:void(0);" class="dropdown-item rounded-1"
              ><i class="ti ti-file-type-xls me-1"></i>Export as Excel
            </a>
          </li>
        </ul>
      </div>
      <div class="mb-2">
        <a
          href="#"
          class="btn btn-primary d-flex align-items-center"
          data-bs-toggle="modal"
          data-bs-target="#add_fees_assign"
          ><i class="ti ti-square-rounded-plus me-2"></i>Assign New</a
        >
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <!-- Fees List -->
  <div class="card">
    <div
      class="card-header d-flex align-items-center justify-content-between flex-wrap pb-0"
    >
      <h4 class="mb-3">Fees Collection</h4>
      <div class="d-flex align-items-center flex-wrap">
        <div class="input-icon-start mb-3 me-2 position-relative">
          <span class="icon-addon">
            <i class="ti ti-calendar"></i>
          </span>
          <input
            type="text"
            class="form-control date-range bookingrange"
            placeholder="Select"
            value="Academic Year : 2024 / 2025"
          />
        </div>
        <div class="dropdown mb-3 me-2">
          <a
            href="javascript:void(0);"
            class="btn btn-outline-light bg-white dropdown-toggle"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            ><i class="ti ti-filter me-2"></i>Filter</a
          >
          <div class="dropdown-menu drop-width">
            <form action="fees-assign">
              <div class="d-flex align-items-center border-bottom p-3">
                <h4>Filter</h4>
              </div>
              <div class="p-3 border-bottom">
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Section</label>
                      <select class="select">
                        <option>Select</option>
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Gender</label>
                      <select class="select">
                        <option>Select</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Both</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mb-0">
                      <label class="form-label">Student Category</label>
                      <select class="select">
                        <option>Select</option>
                        <option>BC</option>
                        <option>MBC</option>
                        <option>FC</option>
                        <option>BC</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-3 d-flex align-items-center justify-content-end">
                <a href="#" class="btn btn-light me-3">Reset</a>
                <button type="submit" class="btn btn-primary">Apply</button>
              </div>
            </form>
          </div>
        </div>

        <div class="dropdown mb-3">
          <a
            href="javascript:void(0);"
            class="btn btn-outline-light bg-white dropdown-toggle"
            data-bs-toggle="dropdown"
            ><i class="ti ti-sort-ascending-2 me-2"></i>Sort by A-Z
          </a>
          <ul class="dropdown-menu p-3">
            <li>
              <a
                href="javascript:void(0);"
                class="dropdown-item rounded-1 active"
              >
                Ascending
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item rounded-1">
                Descending
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item rounded-1">
                Recently Viewed
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item rounded-1">
                Recently Added
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body p-0 py-3">
      <!-- Student List -->
      <div class="custom-datatable-filter table-responsive">
        <table class="table datatable">
          <thead class="thead-light">
            <tr>
              <th class="no-sort">
                <div class="form-check form-check-md">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="select-all"
                  />
                </div>
              </th>
              <th>S. No</th>
              <th>Fees Group</th>
              <th>Fees Type</th>
              <th>Class</th>
              <th>Section</th>
              <th>Amount ($)</th>
              <th>Gender</th>
              <th>Category</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>01</td>
              <td>Admission-Fees</td>
              <td>Tuition Fees</td>
              <td>I</td>
              <td>B</td>
              <td>1250</td>
              <td>Male</td>
              <td>BC</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_assign"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>02</td>
              <td>Class 1 General</td>
              <td>Monthly Fees</td>
              <td>III</td>
              <td>C</td>
              <td>250</td>
              <td>Both</td>
              <td>MBC</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_assign"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>03</td>
              <td>Monthly Fees</td>
              <td>Admission Fees</td>
              <td>IX</td>
              <td>F</td>
              <td>656</td>
              <td>Female</td>
              <td>FC</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_assign"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>04</td>
              <td>Class 1 Lump Sum</td>
              <td>Bus Fees</td>
              <td>X</td>
              <td>R</td>
              <td>6225</td>
              <td>Male</td>
              <td>BC</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_assign"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>05</td>
              <td>Class 1- I Installment</td>
              <td>Monthly Fees</td>
              <td>III</td>
              <td>E</td>
              <td>454</td>
              <td>Both</td>
              <td>MBC</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_assign"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>06</td>
              <td>Class 1-II Installment</td>
              <td>Monthly Fees</td>
              <td>IV</td>
              <td>A</td>
              <td>214</td>
              <td>Male</td>
              <td>All</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_assign"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>07</td>
              <td>Discount</td>
              <td>Topper Discount</td>
              <td>V</td>
              <td>B</td>
              <td>145</td>
              <td>Both</td>
              <td>FC</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_assign"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>08</td>
              <td>Class 3- I Installment</td>
              <td>3rd-Installment-Fees</td>
              <td>X</td>
              <td>B</td>
              <td>147</td>
              <td>Male</td>
              <td>FC</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_assign"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>09</td>
              <td>Class 2- I Installment</td>
              <td>3rd-Installment-Fees</td>
              <td>VI</td>
              <td>A</td>
              <td>457</td>
              <td>Female</td>
              <td>FC</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_assign"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>10</td>
              <td>Class 4- I Installment</td>
              <td>3rd Installment Fees</td>
              <td>V</td>
              <td>A</td>
              <td>654</td>
              <td>Female</td>
              <td>All</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_fees_assign"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /Student List -->
    </div>
  </div>
  <!-- /Fees List -->
</div>

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="fees-assign">
        <div class="modal-body text-center">
          <span class="delete-icon">
            <i class="ti ti-trash-x"></i>
          </span>
          <h4>Confirm Deletion</h4>
          <p>
            You want to delete all the marked items, this cant be undone once
            you delete.
          </p>
          <div class="d-flex justify-content-center">
            <a
              href="javascript:void(0);"
              class="btn btn-light me-3"
              data-bs-dismiss="modal"
              >Cancel</a
            >
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Delete Modal -->

<!-- Add Fees Assign -->
<div class="modal fade" id="add_fees_assign">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Assign New Fees</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <!-- Table Filter -->
        <div class="table-filter-head">
          <div class="filter-head-left">
            <h5>Search Criteria</h5>
            <div class="dropdown mb-3 me-2">
              <a
                href="javascript:void(0);"
                class="btn btn-outline-light bg-white dropdown-toggle"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
                ><i class="ti ti-filter me-2"></i>Filter</a
              >
              <div class="dropdown-menu drop-width">
                <form action="fees-assign">
                  <div class="d-flex align-items-center border-bottom p-3">
                    <h4>Filter</h4>
                  </div>
                  <div class="p-3 pb-0 border-bottom">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">Fees Group</label>
                          <select class="select">
                            <option>Select</option>
                            <option>Admission-Fees</option>
                            <option>Class 1 General</option>
                            <option>Monthly Fees</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">Fees Type</label>
                          <select class="select">
                            <option>Select</option>
                            <option>Tuition Fees</option>
                            <option>Monthly Fees</option>
                            <option>Admission Fees</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="mb-3">
                          <label class="form-label">Class</label>
                          <select class="select">
                            <option>Select</option>
                            <option>I</option>
                            <option>III</option>
                            <option>Kathleen</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">Gender</label>
                          <select class="select">
                            <option>Select</option>
                            <option>Male</option>
                            <option>Female</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">Gender</label>
                          <select class="select">
                            <option>Select</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Both</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="mb-3">
                          <label class="form-label">Student Category</label>
                          <select class="select">
                            <option>Select</option>
                            <option>BC</option>
                            <option>MBC</option>
                            <option>FC</option>
                            <option>BC</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="p-3 d-flex align-items-center justify-content-end"
                  >
                    <a href="#" class="btn btn-light me-3">Reset</a>
                    <button type="submit" class="btn btn-primary">Apply</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /Table Filter -->
        </div>
        <!-- /Filter Section -->
        <div class="modal-card-table">
          <div class="modal-table-head">
            <h4>List of Fees type</h4>
          </div>
          <div class="table-responsive custom-table no-datatable_length">
            <table class="table datanew">
              <thead class="thead-light">
                <tr>
                  <th class="no-sort"></th>
                  <th class="no-sort">Fees Type</th>
                  <th class="no-sort">Fees Type</th>
                  <th class="no-sort">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>Admission Fees</td>
                  <td>Admission-Fees</td>
                  <td>5000</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>Apr-Mar</td>
                  <td>Apr-Mar</td>
                  <td>666</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>Bus Fees</td>
                  <td>Bus Fees</td>
                  <td>400</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>1st Installment Fees</td>
                  <td>1st Installment Fees</td>
                  <td>2645</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>2nd Installment Fees</td>
                  <td>2nd Installment Fees</td>
                  <td>7898</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>3rd Installment Fees</td>
                  <td>3rd Installment Fees</td>
                  <td>4785</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-card-table">
          <div class="modal-table-head">
            <h4>Student Details</h4>
          </div>
          <div class="table-responsive custom-table no-datatable_length">
            <table class="table datanew">
              <thead class="thead-light">
                <tr>
                  <th class="no-sort">
                    <label class="checkboxs"
                      ><input type="checkbox" id="select-all2" /><span
                        class="checkmarks"
                      ></span
                    ></label>
                  </th>
                  <th class="no-sort">Admission Number</th>
                  <th class="no-sort">Student</th>
                  <th class="no-sort">Class</th>
                  <th class="no-sort">Section</th>
                  <th class="no-sort">Gender</th>
                  <th class="no-sort">Student Category</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="#" class="text-primary">AD9892430</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a href="student-details" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-01.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a href="student-details">Janet</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>II</td>
                  <td>B</td>
                  <td>Female</td>
                  <td>MBC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="#" class="text-primary">AD9892429</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a href="student-details" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-06.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a href="student-details">Ralph</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>III</td>
                  <td>B</td>
                  <td>Male</td>
                  <td>BC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="#" class="text-primary">AD9892428</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a href="student-details" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-07.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a href="student-details">Julie</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>V</td>
                  <td>A</td>
                  <td>Female</td>
                  <td>BC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="#" class="text-primary">AD9892427</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a href="student-details" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-08.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a href="student-details">Ryan</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>VI</td>
                  <td>A</td>
                  <td>Male</td>
                  <td>MBC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="#" class="text-primary">AD9892426</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a href="student-details" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-09.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a href="student-details">Susan</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>VIII</td>
                  <td>B</td>
                  <td>Female</td>
                  <td>BC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="#" class="text-primary">AD9892425</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a href="student-details" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-12.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a href="student-details">Richard</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>VII</td>
                  <td>B</td>
                  <td>Male</td>
                  <td>MBC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="#" class="text-primary">AD9892424</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a href="student-details" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-11.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a href="student-details">Veronica</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>IX</td>
                  <td>A</td>
                  <td>Female</td>
                  <td>BC</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="student-pomote-note d-flex mb-0">
          <span class="info-icon"><i class="ti ti-info-circle"></i></span>
          <p>Selected 50 Fees Group, 350 Students</p>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal"
          >Cancel</a
        >
        <a href="fees-assign" class="btn btn-primary">Add Fees</a>
      </div>
    </div>
  </div>
</div>
<!-- Add Fees Assign -->

<!-- Edit Fees Assign -->
<div class="modal fade" id="edit_fees_assign">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Fees</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <!-- Table Filter -->
        <div class="table-filter-head">
          <div class="filter-head-left">
            <h5>Search Criteria</h5>
            <div class="dropdown mb-3 me-2">
              <a
                href="javascript:void(0);"
                class="btn btn-outline-light bg-white dropdown-toggle"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
                ><i class="ti ti-filter me-2"></i>Filter</a
              >
              <div class="dropdown-menu drop-width">
                <form action="fees-assign">
                  <div class="d-flex align-items-center border-bottom p-3">
                    <h4>Filter</h4>
                  </div>
                  <div class="p-3 pb-0 border-bottom">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">Fees Group</label>
                          <select class="select">
                            <option>Select</option>
                            <option selected>Admission-Fees</option>
                            <option>Class 1 General</option>
                            <option>Monthly Fees</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">Fees Type</label>
                          <select class="select">
                            <option>Select</option>
                            <option selected>Tuition Fees</option>
                            <option>Monthly Fees</option>
                            <option>Admission Fees</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="mb-3">
                          <label class="form-label">Class</label>
                          <select class="select">
                            <option>Select</option>
                            <option selected>I</option>
                            <option>III</option>
                            <option>Kathleen</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">Gender</label>
                          <select class="select">
                            <option>Select</option>
                            <option selected>Male</option>
                            <option>Female</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="mb-3">
                          <label class="form-label">Student Category</label>
                          <select class="select">
                            <option>Select</option>
                            <option>BC</option>
                            <option>MBC</option>
                            <option>FC</option>
                            <option>BC</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="p-3 d-flex align-items-center justify-content-end"
                  >
                    <a href="#" class="btn btn-light me-3">Reset</a>
                    <button type="submit" class="btn btn-primary">Apply</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /Table Filter -->
        </div>
        <!-- /Filter Section -->
        <div class="modal-card-table">
          <div class="modal-table-head">
            <h4>List of Fees type</h4>
          </div>
          <div class="table-responsive custom-table no-datatable_length">
            <table class="table datanew">
              <thead class="thead-light">
                <tr>
                  <th class="no-sort"></th>
                  <th class="no-sort">Fees Type</th>
                  <th class="no-sort">Fees Type</th>
                  <th class="no-sort">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>Admission Fees</td>
                  <td>Admission-Fees</td>
                  <td>5000</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>Apr-Mar</td>
                  <td>Apr-Mar</td>
                  <td>666</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>Bus Fees</td>
                  <td>Bus Fees</td>
                  <td>400</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" checked />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>1st Installment Fees</td>
                  <td>1st Installment Fees</td>
                  <td>2645</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" checked />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>2nd Installment Fees</td>
                  <td>2nd Installment Fees</td>
                  <td>7898</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td>3rd Installment Fees</td>
                  <td>3rd Installment Fees</td>
                  <td>4785</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-card-table">
          <div class="modal-table-head">
            <h4>Student Details</h4>
          </div>
          <div class="table-responsive custom-table no-datatable_length">
            <table class="table datanew">
              <thead class="thead-light">
                <tr>
                  <th class="no-sort">
                    <label class="checkboxs"
                      ><input type="checkbox" id="select-all3" /><span
                        class="checkmarks"
                      ></span
                    ></label>
                  </th>
                  <th class="no-sort">Admission Number</th>
                  <th class="no-sort">Student</th>
                  <th class="no-sort">Class</th>
                  <th class="no-sort">Section</th>
                  <th class="no-sort">Gender</th>
                  <th class="no-sort">Student Category</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="#" class="text-primary">AD9892430</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a href="student-details" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-01.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a href="student-details">Janet</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>II</td>
                  <td>B</td>
                  <td>Female</td>
                  <td>MBC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="#" class="text-primary">AD9892429</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a href="student-details" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-06.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a href="student-details">Ralph</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>III</td>
                  <td>B</td>
                  <td>Male</td>
                  <td>BC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="#" class="text-primary">AD9892428</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a href="student-details" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-07.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a href="student-details">Julie</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>V</td>
                  <td>A</td>
                  <td>Female</td>
                  <td>BC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="#" class="text-primary">AD9892427</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a href="student-details" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-08.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a href="student-details">Ryan</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>VI</td>
                  <td>A</td>
                  <td>Male</td>
                  <td>MBC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="#" class="text-primary">AD9892426</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a href="student-details" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-09.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a href="student-details">Susan</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>VIII</td>
                  <td>B</td>
                  <td>Female</td>
                  <td>BC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="#" class="text-primary">AD9892425</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a href="student-details" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-12.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a href="student-details">Richard</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>VII</td>
                  <td>B</td>
                  <td>Male</td>
                  <td>MBC</td>
                </tr>
                <tr>
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox" />
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td><a href="#" class="text-primary">AD9892424</a></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a href="student-details" class="avatar avatar-md"
                        ><img
                          src="assets/img/students/student-11.jpg"
                          class="img-fluid rounded-circle"
                          alt="img"
                      /></a>
                      <div class="ms-2">
                        <p class="text-dark mb-0">
                          <a href="student-details">Veronica</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>IX</td>
                  <td>A</td>
                  <td>Female</td>
                  <td>BC</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="student-pomote-note d-flex mb-0">
          <span class="info-icon"><i class="ti ti-info-circle"></i></span>
          <p>Selected 50 Fees Group, 350 Students</p>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal"
          >Cancel</a
        >
        <a href="fees-assign" class="btn btn-primary">Save Changes</a>
      </div>
    </div>
  </div>
</div>
<!-- Edit Fees Assign -->
