<div class="content">
  <!-- Page Header -->
  <div
    class="d-md-flex d-block align-items-center justify-content-between mb-3"
  >
    <div class="my-auto mb-2">
      <h3 class="page-title mb-1">Roles & Permissions</h3>
      <nav>
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="admin-dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">User Management</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Roles & Permissions
          </li>
        </ol>
      </nav>
    </div>
    <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
      <div class="pe-1 mb-2">
        <a
          href="#"
          class="btn btn-outline-light bg-white btn-icon me-1"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          aria-label="Refresh"
          data-bs-original-title="Refresh"
        >
          <i class="ti ti-refresh"></i>
        </a>
      </div>
      <div class="pe-1 mb-2">
        <button
          type="button"
          class="btn btn-outline-light bg-white btn-icon me-1"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          aria-label="Print"
          data-bs-original-title="Print"
        >
          <i class="ti ti-printer"></i>
        </button>
      </div>
      <div class="dropdown me-2 mb-2">
        <a
          href="javascript:void(0);"
          class="dropdown-toggle btn btn-light fw-medium d-inline-flex align-items-center"
          data-bs-toggle="dropdown"
        >
          <i class="ti ti-file-export me-2"></i>Export
        </a>
        <ul class="dropdown-menu dropdown-menu-end p-3">
          <li>
            <a href="javascript:void(0);" class="dropdown-item rounded-1"
              ><i class="ti ti-file-type-pdf me-1"></i>Export as PDF</a
            >
          </li>
          <li>
            <a href="javascript:void(0);" class="dropdown-item rounded-1"
              ><i class="ti ti-file-type-xls me-1"></i>Export as Excel
            </a>
          </li>
        </ul>
      </div>
      <div class="mb-2">
        <a
          href="#"
          class="btn btn-primary d-flex align-items-center"
          data-bs-toggle="modal"
          data-bs-target="#add_role"
          ><i class="ti ti-square-rounded-plus me-2"></i>Add Role</a
        >
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <!-- Filter Section -->
  <div class="card">
    <div
      class="card-header d-flex align-items-center justify-content-between flex-wrap pb-0"
    >
      <h4 class="mb-3">Roles & Permissions List</h4>
      <div class="d-flex align-items-center flex-wrap">
        <div class="input-icon-start mb-3 me-2 position-relative">
          <span class="icon-addon">
            <i class="ti ti-calendar"></i>
          </span>
          <input
            type="text"
            class="form-control date-range bookingrange"
            placeholder="Select"
            value="Academic Year : 2024 / 2025"
          />
        </div>
        <div class="dropdown mb-3">
          <a
            href="javascript:void(0);"
            class="btn btn-outline-light bg-white dropdown-toggle"
            data-bs-toggle="dropdown"
            ><i class="ti ti-sort-ascending-2 me-2"></i>Sort by A-Z
          </a>
          <ul class="dropdown-menu p-3">
            <li>
              <a
                href="javascript:void(0);"
                class="dropdown-item rounded-1 active"
              >
                Ascending
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item rounded-1">
                Descending
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item rounded-1">
                Recently Viewed
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item rounded-1">
                Recently Added
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card-body p-0 py-3">
      <!-- Role Permission List -->
      <div class="custom-datatable-filter table-responsive">
        <table class="table datatable">
          <thead class="thead-light">
            <tr>
              <th class="no-sort">
                <div class="form-check form-check-md">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="select-all"
                  />
                </div>
              </th>
              <th>Role Name</th>
              <th>Created On</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>Admin</td>
              <td>27 Mar 2024</td>
              <td>
                <div class="d-flex align-items-center">
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_role"
                    ><i class="ti ti-edit-circle text-primary"></i
                  ></a>
                  <a
                    href="permission"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    ><i class="ti ti-shield text-skyblue"></i
                  ></a>
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-3"
                    data-bs-toggle="modal"
                    data-bs-target="#delete-modal"
                    ><i class="ti ti-trash-x text-danger"></i
                  ></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>Student</td>
              <td>20 Mar 2024</td>
              <td>
                <div class="d-flex align-items-center">
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_role"
                    ><i class="ti ti-edit-circle text-primary"></i
                  ></a>
                  <a
                    href="permission"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    ><i class="ti ti-shield text-skyblue"></i
                  ></a>
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-3"
                    data-bs-toggle="modal"
                    data-bs-target="#delete-modal"
                    ><i class="ti ti-trash-x text-danger"></i
                  ></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>Parent</td>
              <td>16 Mar 2024</td>
              <td>
                <div class="d-flex align-items-center">
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_role"
                    ><i class="ti ti-edit-circle text-primary"></i
                  ></a>
                  <a
                    href="permission"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    ><i class="ti ti-shield text-skyblue"></i
                  ></a>
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-3"
                    data-bs-toggle="modal"
                    data-bs-target="#delete-modal"
                    ><i class="ti ti-trash-x text-danger"></i
                  ></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>Guardian</td>
              <td>26 Feb 2024</td>
              <td>
                <div class="d-flex align-items-center">
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_role"
                    ><i class="ti ti-edit-circle text-primary"></i
                  ></a>
                  <a
                    href="permission"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    ><i class="ti ti-shield text-skyblue"></i
                  ></a>
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-3"
                    data-bs-toggle="modal"
                    data-bs-target="#delete-modal"
                    ><i class="ti ti-trash-x text-danger"></i
                  ></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>Librarian</td>
              <td>15 Feb 2024</td>
              <td>
                <div class="d-flex align-items-center">
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_role"
                    ><i class="ti ti-edit-circle text-primary"></i
                  ></a>
                  <a
                    href="permission"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    ><i class="ti ti-shield text-skyblue"></i
                  ></a>
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-3"
                    data-bs-toggle="modal"
                    data-bs-target="#delete-modal"
                    ><i class="ti ti-trash-x text-danger"></i
                  ></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>Accountant</td>
              <td>13 Feb 2024</td>
              <td>
                <div class="d-flex align-items-center">
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_role"
                    ><i class="ti ti-edit-circle text-primary"></i
                  ></a>
                  <a
                    href="permission"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    ><i class="ti ti-shield text-skyblue"></i
                  ></a>
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-3"
                    data-bs-toggle="modal"
                    data-bs-target="#delete-modal"
                    ><i class="ti ti-trash-x text-danger"></i
                  ></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>Driver</td>
              <td>28 Jan 2024</td>
              <td>
                <div class="d-flex align-items-center">
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_role"
                    ><i class="ti ti-edit-circle text-primary"></i
                  ></a>
                  <a
                    href="permission"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    ><i class="ti ti-shield text-skyblue"></i
                  ></a>
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-3"
                    data-bs-toggle="modal"
                    data-bs-target="#delete-modal"
                    ><i class="ti ti-trash-x text-danger"></i
                  ></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>Coach</td>
              <td>21 Jan 2024</td>
              <td>
                <div class="d-flex align-items-center">
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_role"
                    ><i class="ti ti-edit-circle text-primary"></i
                  ></a>
                  <a
                    href="permission"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    ><i class="ti ti-shield text-skyblue"></i
                  ></a>
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-3"
                    data-bs-toggle="modal"
                    data-bs-target="#delete-modal"
                    ><i class="ti ti-trash-x text-danger"></i
                  ></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>Warden</td>
              <td>10 Jan 2024</td>
              <td>
                <div class="d-flex align-items-center">
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_role"
                    ><i class="ti ti-edit-circle text-primary"></i
                  ></a>
                  <a
                    href="permission"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    ><i class="ti ti-shield text-skyblue"></i
                  ></a>
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-3"
                    data-bs-toggle="modal"
                    data-bs-target="#delete-modal"
                    ><i class="ti ti-trash-x text-danger"></i
                  ></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td>Therapist</td>
              <td>24 Dec 2024</td>
              <td>
                <div class="d-flex align-items-center">
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_role"
                    ><i class="ti ti-edit-circle text-primary"></i
                  ></a>
                  <a
                    href="permission"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-2"
                    ><i class="ti ti-shield text-skyblue"></i
                  ></a>
                  <a
                    href="#"
                    class="btn btn-outline-light bg-white btn-icon d-flex align-items-center justify-content-center rounded-circle p-0 me-3"
                    data-bs-toggle="modal"
                    data-bs-target="#delete-modal"
                    ><i class="ti ti-trash-x text-danger"></i
                  ></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /Role Permission List -->
    </div>
  </div>
  <!-- /Filter Section -->
</div>

<!-- Add Role -->
<div class="modal fade" id="add_role">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Role</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form action="roles-permission">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-0">
                <label class="form-label">Role Name</label>
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button type="submit" class="btn btn-primary">Add Role</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Add Role -->

<!-- Edit Role -->
<div class="modal fade" id="edit_role">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Role</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form action="roles-permission">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-0">
                <label class="col-form-label">Role Name</label>
                <input type="text" class="form-control" value="Admin" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Edit Role -->

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="roles-permission">
        <div class="modal-body text-center">
          <span class="delete-icon">
            <i class="ti ti-trash-x"></i>
          </span>
          <h4>Confirm Deletion</h4>
          <p>
            You want to delete all the marked items, this cant be undone once
            you delete.
          </p>
          <div class="d-flex justify-content-center">
            <a
              href="javascript:void(0);"
              class="btn btn-light me-3"
              data-bs-dismiss="modal"
              >Cancel</a
            >
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Delete Modal -->
