<!DOCTYPE html>
<html lang="en">
  <%- include ('./head') %>

  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <%- include('../pages/error/'+page_path) %>
    </div>
    <!-- /Main Wrapper -->

    <%- include ('./script') %>
  </body>
</html>
