<div class="content">
  <!-- Page Header -->
  <div
    class="d-md-flex d-block align-items-center justify-content-between mb-3"
  >
    <div class="my-auto mb-2">
      <h3 class="page-title mb-1">Room Type</h3>
      <nav>
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="admin-dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Management </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Room Type</li>
        </ol>
      </nav>
    </div>
    <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
      <div class="pe-1 mb-2">
        <a
          href="#"
          class="btn btn-outline-light bg-white btn-icon me-1"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          aria-label="Refresh"
          data-bs-original-title="Refresh"
        >
          <i class="ti ti-refresh"></i>
        </a>
      </div>
      <div class="pe-1 mb-2">
        <button
          type="button"
          class="btn btn-outline-light bg-white btn-icon me-1"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          aria-label="Print"
          data-bs-original-title="Print"
        >
          <i class="ti ti-printer"></i>
        </button>
      </div>
      <div class="dropdown me-2 mb-2">
        <a
          href="javascript:void(0);"
          class="dropdown-toggle btn btn-light fw-medium d-inline-flex align-items-center"
          data-bs-toggle="dropdown"
        >
          <i class="ti ti-file-export me-2"></i>Export
        </a>
        <ul class="dropdown-menu dropdown-menu-end p-3">
          <li>
            <a href="javascript:void(0);" class="dropdown-item rounded-1"
              ><i class="ti ti-file-type-pdf me-1"></i>Export as PDF</a
            >
          </li>
          <li>
            <a href="javascript:void(0);" class="dropdown-item rounded-1"
              ><i class="ti ti-file-type-xls me-1"></i>Export as Excel
            </a>
          </li>
        </ul>
      </div>
      <div class="mb-2">
        <a
          href="#"
          class="btn btn-primary d-flex align-items-center"
          data-bs-toggle="modal"
          data-bs-target="#add_hostel_room_type"
          ><i class="ti ti-square-rounded-plus me-2"></i>Add Room Type</a
        >
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <!-- Students List -->
  <div class="card">
    <div
      class="card-header d-flex align-items-center justify-content-between flex-wrap pb-0"
    >
      <h4 class="mb-3">Room Type</h4>
      <div class="d-flex align-items-center flex-wrap">
        <div class="input-icon-start mb-3 me-2 position-relative">
          <span class="icon-addon">
            <i class="ti ti-calendar"></i>
          </span>
          <input
            type="text"
            class="form-control date-range bookingrange"
            placeholder="Select"
            value="Academic Year : 2024 / 2025"
          />
        </div>
        <div class="dropdown mb-3 me-2">
          <a
            href="javascript:void(0);"
            class="btn btn-outline-light bg-white dropdown-toggle"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            ><i class="ti ti-filter me-2"></i>Filter</a
          >
          <div class="dropdown-menu drop-width">
            <form action="hostel-room-type">
              <div class="d-flex align-items-center border-bottom p-3">
                <h4>Filter</h4>
              </div>
              <div class="p-3 border-bottom">
                <div class="row">
                  <div class="col-md-12">
                    <div class="mb-0">
                      <label class="form-label">Type</label>
                      <select class="select">
                        <option>Select</option>
                        <option>One Bed</option>
                        <option>One Bed AC</option>
                        <option>Two Bed</option>
                        <option>Two Bed AC</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-3 d-flex align-items-center justify-content-end">
                <a href="#" class="btn btn-light me-3">Reset</a>
                <button type="submit" class="btn btn-primary">Apply</button>
              </div>
            </form>
          </div>
        </div>

        <div class="dropdown mb-3">
          <a
            href="javascript:void(0);"
            class="btn btn-outline-light bg-white dropdown-toggle"
            data-bs-toggle="dropdown"
            ><i class="ti ti-sort-ascending-2 me-2"></i>Sort by A-Z
          </a>
          <ul class="dropdown-menu p-3">
            <li>
              <a
                href="javascript:void(0);"
                class="dropdown-item rounded-1 active"
              >
                Ascending
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item rounded-1">
                Descending
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item rounded-1">
                Recently Viewed
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item rounded-1">
                Recently Added
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body p-0 py-3">
      <!-- Student List -->
      <div class="custom-datatable-filter table-responsive">
        <table class="table datatable">
          <thead class="thead-light">
            <tr>
              <th class="no-sort">
                <div class="form-check form-check-md">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="select-all"
                  />
                </div>
              </th>
              <th>ID</th>
              <th>Room Type</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">RT846235</a></td>
              <td>One Bed</td>
              <td>
                Enjoy serene solitude in our one-bed room, your tranquil retreat
                for focused studying
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_hostel_room_type"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">RT846234</a></td>
              <td>One Bed AC</td>
              <td>
                Stay cool and focused in our one-bed AC room, your serene study
                haven
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_hostel_room_type"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">RT846233</a></td>
              <td>Two Bed</td>
              <td>
                Study together in comfort and camaraderie in our two-bed room
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_hostel_room_type"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">RT846232</a></td>
              <td>Two Bed AC</td>
              <td>
                Stay cool and study together in comfort in our two-bed AC room
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_hostel_room_type"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">RT846231</a></td>
              <td>Three Bed</td>
              <td>
                Study comfortably in our spacious three-bed room, share learning
                and camaraderie
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_hostel_room_type"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">RT846230</a></td>
              <td>Three Bed AC</td>
              <td>
                Experience collaborative studying in comfort with our three-bed
                AC room
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_hostel_room_type"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">RT846229</a></td>
              <td>Four Bed</td>
              <td>
                Engage in group study sessions and foster camaraderie in our
                spacious four-bed room
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_hostel_room_type"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">RT846228</a></td>
              <td>Four Bed AC</td>
              <td>
                Experience collaborative study sessions in comfort with our
                spacious four-bed AC room
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_hostel_room_type"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">RT846227</a></td>
              <td>Five Bed</td>
              <td>
                Foster teamwork and academic synergy, ideal for group study
                sessions
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_hostel_room_type"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">RT846226</a></td>
              <td>Five Bed AC</td>
              <td>
                Optimal comfort meets collaborative studying, perfect for
                academic synergy among residents.
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_hostel_room_type"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /Student List -->
    </div>
  </div>
  <!-- /Students List -->
</div>

<!-- Add Room Type-->
<div class="modal fade" id="add_hostel_room_type">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Room Type</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form action="hostel-room-type">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Room Type</label>
                <input type="text" class="form-control" />
              </div>
              <div class="mb-0">
                <label class="form-label">Cost per Bed</label>
                <textarea class="form-control" rows="4"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button type="submit" class="btn btn-primary">Add Room Type</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Add Room Type -->

<!-- Edit Room Type -->
<div class="modal fade" id="edit_hostel_room_type">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Room Type</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form action="hostel-room-type">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Room Type</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Room Type"
                  value="Two Bed"
                />
              </div>
              <div class="mb-0">
                <label class="form-label">Cost per Bed</label>
                <textarea class="form-control" placeholder="text" rows="4">
Enjoy serene solitude in our one-bed room, your tranquil retreat for focused studying</textarea
                >
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Edit Room Type -->

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="hostel-room-type">
        <div class="modal-body text-center">
          <span class="delete-icon">
            <i class="ti ti-trash-x"></i>
          </span>
          <h4>Confirm Deletion</h4>
          <p>
            You want to delete all the marked items, this cant be undone once
            you delete.
          </p>
          <div class="d-flex justify-content-center">
            <a
              href="javascript:void(0);"
              class="btn btn-light me-3"
              data-bs-dismiss="modal"
              >Cancel</a
            >
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Delete Modal -->
