<div class="content">
  <!-- Page Header -->
  <div
    class="d-md-flex d-block align-items-center justify-content-between mb-3"
  >
    <div class="my-auto mb-2">
      <h3 class="page-title mb-1">Expense</h3>
      <nav>
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="admin-dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Finance & Accounts</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Expense</li>
        </ol>
      </nav>
    </div>
    <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
      <div class="pe-1 mb-2">
        <a
          href="#"
          class="btn btn-outline-light bg-white btn-icon me-1"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          aria-label="Refresh"
          data-bs-original-title="Refresh"
        >
          <i class="ti ti-refresh"></i>
        </a>
      </div>
      <div class="pe-1 mb-2">
        <button
          type="button"
          class="btn btn-outline-light bg-white btn-icon me-1"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          aria-label="Print"
          data-bs-original-title="Print"
        >
          <i class="ti ti-printer"></i>
        </button>
      </div>
      <div class="dropdown me-2 mb-2">
        <a
          href="javascript:void(0);"
          class="dropdown-toggle btn btn-light fw-medium d-inline-flex align-items-center"
          data-bs-toggle="dropdown"
        >
          <i class="ti ti-file-export me-2"></i>Export
        </a>
        <ul class="dropdown-menu dropdown-menu-end p-3">
          <li>
            <a href="javascript:void(0);" class="dropdown-item rounded-1"
              ><i class="ti ti-file-type-pdf me-1"></i>Export as PDF</a
            >
          </li>
          <li>
            <a href="javascript:void(0);" class="dropdown-item rounded-1"
              ><i class="ti ti-file-type-xls me-1"></i>Export as Excel
            </a>
          </li>
        </ul>
      </div>
      <div class="mb-2">
        <a
          href="#"
          class="btn btn-primary d-flex align-items-center"
          data-bs-toggle="modal"
          data-bs-target="#add_expenses"
          ><i class="ti ti-square-rounded-plus me-2"></i>Add Expense</a
        >
      </div>
    </div>
  </div>
  <!-- Page Header -->

  <div class="card">
    <div
      class="card-header d-flex align-items-center justify-content-between flex-wrap pb-0"
    >
      <h4 class="mb-3">Expense List</h4>
      <div class="d-flex align-items-center flex-wrap">
        <div class="input-icon-start mb-3 me-2 position-relative">
          <span class="icon-addon">
            <i class="ti ti-calendar"></i>
          </span>
          <input
            type="text"
            class="form-control date-range bookingrange"
            placeholder="Select"
            value="Academic Year : 2024 / 2025"
          />
        </div>
        <div class="dropdown mb-3 me-2">
          <a
            href="javascript:void(0);"
            class="btn btn-outline-light bg-white dropdown-toggle"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            ><i class="ti ti-filter me-2"></i>Filter</a
          >
          <div class="dropdown-menu drop-width">
            <form action="expenses">
              <div class="d-flex align-items-center border-bottom p-3">
                <h4>Filter</h4>
              </div>
              <div class="p-3 pb-0 border-bottom">
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Expense Name</label>
                      <select class="select">
                        <option>Select</option>
                        <option>Monthly Electricity</option>
                        <option>Teacher Salary</option>
                        <option>AC Repair</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Category</label>
                      <select class="select">
                        <option>Select</option>
                        <option>Utilities</option>
                        <option>Salaries</option>
                        <option>Maintenance</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label class="form-label">Invoice Number</label>
                      <select class="select">
                        <option>Select</option>
                        <option>INV681537</option>
                        <option>INV681536</option>
                        <option>INV681535</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-3 d-flex align-items-center justify-content-end">
                <a href="#" class="btn btn-light me-3">Reset</a>
                <button type="submit" class="btn btn-primary">Apply</button>
              </div>
            </form>
          </div>
        </div>
        <div class="dropdown mb-3">
          <a
            href="javascript:void(0);"
            class="btn btn-outline-light bg-white dropdown-toggle"
            data-bs-toggle="dropdown"
            ><i class="ti ti-sort-ascending-2 me-2"></i>Sort by A-Z
          </a>
          <ul class="dropdown-menu p-3">
            <li>
              <a
                href="javascript:void(0);"
                class="dropdown-item rounded-1 active"
              >
                Ascending
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item rounded-1">
                Descending
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item rounded-1">
                Recently Viewed
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item rounded-1">
                Recently Added
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body p-0 py-3">
      <!-- Expenses List -->
      <div class="custom-datatable-filter table-responsive">
        <table class="table datatable">
          <thead class="thead-light">
            <tr>
              <th class="no-sort">
                <div class="form-check form-check-md">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="select-all"
                  />
                </div>
              </th>
              <th>ID</th>
              <th>Expense Name</th>
              <th>Description</th>
              <th>Category</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Invoice No</th>
              <th>Payment Method</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">EX628148</a></td>
              <td>Monthly Electricity</td>
              <td>Electricity of April month</td>
              <td>Utilities</td>
              <td>25 Apr 2024</td>
              <td>$1000</td>
              <td><a href="#" class="link-primary">INV681537</a></td>
              <td>Cash</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_expenses"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">EX628147</a></td>
              <td>Teacher Salary</td>
              <td>April payroll for teching staffs</td>
              <td>Salaries</td>
              <td>29 Apr 2024</td>
              <td>$20,000</td>
              <td><a href="#" class="link-primary">INV681536</a></td>
              <td>Credit</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_expenses"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">EX628146</a></td>
              <td>AC Repair</td>
              <td>Air Conditioning repair</td>
              <td>Maintenance</td>
              <td>11 May 2024</td>
              <td>$400</td>
              <td><a href="#" class="link-primary">INV681535</a></td>
              <td>Cash</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_expenses"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">EX628145</a></td>
              <td>Fuel Expense</td>
              <td>Fuel for school buses</td>
              <td>Transportation</td>
              <td>16 May 2024</td>
              <td>$1200</td>
              <td><a href="#" class="link-primary">INV681534</a></td>
              <td>Cash</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_expenses"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">EX628144</a></td>
              <td>Sports Uniform</td>
              <td>New uniform for soccer team</td>
              <td>Sports</td>
              <td>21 May 2024</td>
              <td>$2000</td>
              <td><a href="#" class="link-primary">INV681533</a></td>
              <td>Cash</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_expenses"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">EX628143</a></td>
              <td>Water Bill</td>
              <td>Monthly water usage bill</td>
              <td>Utilities</td>
              <td>14 Jun 2024</td>
              <td>$700</td>
              <td><a href="#" class="link-primary">INV681532</a></td>
              <td>Credit</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_expenses"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">EX628142</a></td>
              <td>Projector purchase</td>
              <td>Projector for auditorium</td>
              <td>Equipment</td>
              <td>20 Jun 2024</td>
              <td>$600</td>
              <td><a href="#" class="link-primary">INV681531</a></td>
              <td>Cash</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_expenses"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">EX628141</a></td>
              <td>Vehicle Repair</td>
              <td>Repairs for school buses</td>
              <td>Transportation</td>
              <td>24 Jun 2024</td>
              <td>$800</td>
              <td><a href="#" class="link-primary">INV681530</a></td>
              <td>Cash</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_expenses"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">EX628140</a></td>
              <td>Graduation Setup</td>
              <td>Setup costs for graduation</td>
              <td>Events</td>
              <td>08 Jul 2024</td>
              <td>$5000</td>
              <td><a href="#" class="link-primary">INV681529</a></td>
              <td>Credit</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_expenses"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check form-check-md">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </td>
              <td><a href="#" class="link-primary">EX628139</a></td>
              <td>Lab Equipments</td>
              <td>New microscopes for labs</td>
              <td>Equipment</td>
              <td>13 Jul 2024</td>
              <td>$300</td>
              <td><a href="#" class="link-primary">INV681537</a></td>
              <td>Cash</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <a
                      href="#"
                      class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="ti ti-dots-vertical fs-14"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right p-3">
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_expenses"
                          ><i class="ti ti-edit-circle me-2"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item rounded-1"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash-x me-2"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /Expenses List -->
    </div>
  </div>
</div>

<!-- Add Expenses -->
<div class="modal fade" id="add_expenses">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Expense</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form action="expenses">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Expense Name</label>
                <input type="text" class="form-control" />
              </div>
              <div class="mb-3">
                <label class="form-label">Category</label>
                <select class="select">
                  <option>Select</option>
                  <option>Utilities</option>
                  <option>Maintenance</option>
                  <option>Sports</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Date</label>
                <input type="text" class="form-control" />
              </div>
              <div class="mb-3">
                <label class="form-label">Amount</label>
                <input type="text" class="form-control" />
              </div>
              <div class="mb-3">
                <label class="form-label">Invoice No</label>
                <input type="text" class="form-control" />
              </div>
              <div class="mb-3">
                <label class="form-label">Payment Method</label>
                <select class="select">
                  <option>Select</option>
                  <option>Cash</option>
                  <option>Credit</option>
                </select>
              </div>
              <div class="mb-0">
                <label class="form-label">Description</label>
                <textarea rows="4" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button type="submit" class="btn btn-primary">Add Expense</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Add Expenses -->

<!-- Edit Expenses -->
<div class="modal fade" id="edit_expenses">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Expense</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form action="expenses">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Expense Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Expense Name"
                  value="Monthly Electricity"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Category</label>
                <select class="select">
                  <option>Select</option>
                  <option selected>Utilities</option>
                  <option>Maintenance</option>
                  <option>Sports</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Date</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Date"
                  value="25 Apr 2024"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Amount</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Amount"
                  value="$1000"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Invoice No</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Invoice No"
                  value="INV681537"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Payment Method</label>
                <select class="select">
                  <option>Select</option>
                  <option selected>Cash</option>
                  <option>Credit</option>
                </select>
              </div>
              <div class="mb-0">
                <label class="form-label">Description</label>
                <textarea rows="4" class="form-control" placeholder="text">
Electricity of April month</textarea
                >
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Edit Expenses -->

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="expenses">
        <div class="modal-body text-center">
          <span class="delete-icon">
            <i class="ti ti-trash-x"></i>
          </span>
          <h4>Confirm Deletion</h4>
          <p>
            You want to delete all the marked items, this cant be undone once
            you delete.
          </p>
          <div class="d-flex justify-content-center">
            <a
              href="javascript:void(0);"
              class="btn btn-light me-3"
              data-bs-dismiss="modal"
              >Cancel</a
            >
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Delete Modal -->
