<div class="content bg-white">
  <div
    class="d-md-flex d-block align-items-center justify-content-between border-bottom pb-3"
  >
    <div class="my-auto mb-2">
      <h3 class="page-title mb-1">General Settings</h3>
      <nav>
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="admin-dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Settings</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            General Settings
          </li>
        </ol>
      </nav>
    </div>
    <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
      <div class="pe-1 mb-2">
        <a
          href="#"
          class="btn btn-outline-light bg-white btn-icon"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          aria-label="Refresh"
          data-bs-original-title="Refresh"
        >
          <i class="ti ti-refresh"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-2 col-xl-3">
      <div class="pt-3 d-flex flex-column list-group mb-4">
        <a href="profile-settings" class="d-block rounded p-2"
          >Profile Settings</a
        >
        <a href="security-settings" class="d-block rounded p-2"
          >Security Settings</a
        >
        <a href="notifications-settings" class="d-block rounded p-2"
          >Notifications</a
        >
        <a href="connected-apps" class="d-block rounded active p-2"
          >Connected Apps</a
        >
      </div>
    </div>
    <div class="col-xxl-10 col-xl-9">
      <div class="flex-fill border-start ps-3">
        <div
          class="d-flex align-items-center justify-content-between flex-wrap border-bottom mb-3 pt-3"
        >
          <div class="mb-3">
            <h5>Connected Apps</h5>
            <p>Upload your photo & personal details here</p>
          </div>
        </div>
        <div class="d-block">
          <div
            class="d-flex align-items-center justify-content-between flex-wrap border mb-3 p-3 pb-0 rounded bg-white"
          >
            <div class="">
              <div class="d-flex align-items-center flex-wrap">
                <span
                  class="flex-shrink-0 mb-3 me-2 border rounded p-2 d-flex align-items-center justify-content-center"
                  ><img src="assets/img/icons/connected-app-01.svg" alt="Img"
                /></span>
                <div class="mb-3">
                  <h6>Slack</h6>
                  <p>
                    Team communication platform with channels for group
                    discussions and direct messaging.
                  </p>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <a
                href="#"
                class="btn btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#connect_app"
                >Connect</a
              >
            </div>
          </div>
          <div
            class="d-flex align-items-center justify-content-between flex-wrap border mb-3 p-3 pb-0 rounded bg-white"
          >
            <div class="">
              <div class="d-flex align-items-center flex-wrap">
                <span
                  class="flex-shrink-0 mb-3 me-2 border rounded p-2 d-flex align-items-center justify-content-center"
                  ><img src="assets/img/icons/connected-app-02.svg" alt="Img"
                /></span>
                <div class="mb-3">
                  <h6>Google Calendar</h6>
                  <p>
                    Google Calendar is a web-based scheduling tool that allows
                    users to create, manage, and share events.
                  </p>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <a
                href="#"
                class="btn btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#connect_app_two"
                >Connect</a
              >
            </div>
          </div>
          <div
            class="d-flex align-items-center justify-content-between flex-wrap border mb-3 p-3 pb-0 rounded bg-white"
          >
            <div class="">
              <div class="d-flex align-items-center flex-wrap">
                <span
                  class="flex-shrink-0 mb-3 me-2 border rounded p-2 d-flex align-items-center justify-content-center"
                  ><img src="assets/img/icons/connected-app-03.svg" alt="Img"
                /></span>
                <div class="mb-3">
                  <h6>Gmail</h6>
                  <p>
                    Gmail is a free email service by Google that offers robust
                    spam protection & 15GB of storage.
                  </p>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <a
                href="#"
                class="btn btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#connect_app_three"
                >Connect</a
              >
            </div>
          </div>
          <div
            class="d-flex align-items-center justify-content-between flex-wrap border mb-0 p-3 pb-0 rounded bg-white"
          >
            <div class="">
              <div class="d-flex align-items-center flex-wrap">
                <span
                  class="flex-shrink-0 mb-3 me-2 border rounded p-2 d-flex align-items-center justify-content-center"
                  ><img src="assets/img/icons/connected-app-04.svg" alt="Img"
                /></span>
                <div class="mb-3">
                  <h6>Github</h6>
                  <p>
                    GitHub is a web-based platform for version control and
                    collaboration, allowing developers to host and review code
                  </p>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <a
                href="#"
                class="btn btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#connect_app_four"
                >Connect</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Connect App -->
<div class="modal fade" id="connect_app">
  <div class="modal-dialog modal-dialog-centered connected-app-modal">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex align-items-center justify-content-center">
          <span class="modal-logo-small me-3"
            ><img src="assets/img/icons/modal-small-logo.svg" alt="Img"
          /></span>
          <div class="connected-design">
            <span></span>
            <span></span>
          </div>
          <span
            ><img src="assets/img/icons/connected-app-01.svg" alt="Img"
          /></span>
        </div>
        <div class="border-bottom pb-3 mb-3">
          <h5 class="mb-2">Connect with Slack</h5>
          <p>Confirm requirements to connect with Slack</p>
        </div>
        <div>
          <h5 class="mb-2">Slack requires :</h5>
          <ul>
            <li class="mb-2 d-flex align-items-center">
              <span
                class="avatar avatar-xs rounded-circle bg-success border-0 me-2"
                ><i class="ti ti-check fs-14"></i
              ></span>
              New Slack Workspace for communication
            </li>
            <li class="mb-2 d-flex align-items-center">
              <span
                class="avatar avatar-xs rounded-circle bg-success border-0 me-2"
                ><i class="ti ti-check fs-14"></i
              ></span>
              Slack API to interact with Slack
            </li>
            <li class="d-flex align-items-center">
              <span
                class="avatar avatar-xs rounded-circle bg-success border-0 me-2"
                ><i class="ti ti-check fs-14"></i
              ></span>
              Implement OAuth 2.0 for authorization
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <form action="connected-apps" class="w-100">
          <div class="d-flex align-items-center mb-3">
            <input type="text" class="form-control flex-fill" />
            <a
              class="border rounded d-flex align-items-center justify-content-center p-2 ms-3"
              ><i class="ti ti-copy"></i
            ></a>
          </div>
          <div class="d-flex align-items-center">
            <button type="button" class="btn btn-light me-3 flex-fill">
              Cancel
            </button>
            <button type="submit" class="btn btn-primary flex-fill">
              Connect
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Connect App -->

<!-- Connect App -->
<div class="modal fade" id="connect_app_two">
  <div class="modal-dialog modal-dialog-centered connected-app-modal">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex align-items-center justify-content-center">
          <span class="modal-logo-small me-3"
            ><img src="assets/img/icons/modal-small-logo.svg" alt="Img"
          /></span>
          <div class="connected-design">
            <span></span>
            <span></span>
          </div>
          <span
            ><img src="assets/img/icons/connected-app-02.svg" alt="Img"
          /></span>
        </div>
        <div class="border-bottom pb-3 mb-3">
          <h5 class="mb-2">Connect with Google Calendar</h5>
          <p>Confirm requirements to connect with Google Calendar</p>
        </div>
        <div>
          <h5 class="mb-2">Slack requires :</h5>
          <ul>
            <li class="mb-2 d-flex align-items-center">
              <span
                class="avatar avatar-xs rounded-circle bg-success border-0 me-2"
                ><i class="ti ti-check fs-16"></i
              ></span>
              New Slack Workspace for communication
            </li>
            <li class="mb-2 d-flex align-items-center">
              <span
                class="avatar avatar-xs rounded-circle bg-success border-0 me-2"
                ><i class="ti ti-check fs-14"></i
              ></span>
              Slack API to interact with Slack
            </li>
            <li class="d-flex align-items-center">
              <span
                class="avatar avatar-xs rounded-circle bg-success border-0 me-2"
                ><i class="ti ti-check fs-14"></i
              ></span>
              Implement OAuth 2.0 for authorization
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <form action="connected-apps" class="w-100">
          <div class="d-flex align-items-center mb-3">
            <input type="text" class="form-control flex-fill" />
            <a
              class="border rounded d-flex align-items-center justify-content-center p-2 ms-3"
              ><i class="ti ti-copy"></i
            ></a>
          </div>
          <div class="d-flex align-items-center">
            <button type="button" class="btn btn-light me-3 flex-fill">
              Cancel
            </button>
            <button type="submit" class="btn btn-primary flex-fill">
              Connect
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Connect App -->

<!-- Connect App -->
<div class="modal fade" id="connect_app_three">
  <div class="modal-dialog modal-dialog-centered connected-app-modal">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex align-items-center justify-content-center">
          <span class="modal-logo-small me-3"
            ><img src="assets/img/icons/modal-small-logo.svg" alt="Img"
          /></span>
          <div class="connected-design">
            <span></span>
            <span></span>
          </div>
          <span
            ><img src="assets/img/icons/connected-app-03.svg" alt="Img"
          /></span>
        </div>
        <div class="border-bottom pb-3 mb-3">
          <h5 class="mb-2">Connect with Email</h5>
          <p>Confirm requirements to connect with email</p>
        </div>
        <div>
          <h5 class="mb-2">Slack requires :</h5>
          <ul>
            <li class="mb-2 d-flex align-items-center">
              <span
                class="avatar avatar-xs rounded-circle bg-success border-0 me-2"
                ><i class="ti ti-check fs-16"></i
              ></span>
              New Slack Workspace for communication
            </li>
            <li class="mb-2 d-flex align-items-center">
              <span
                class="avatar avatar-xs rounded-circle bg-success border-0 me-2"
                ><i class="ti ti-check fs-14"></i
              ></span>
              Slack API to interact with Slack
            </li>
            <li class="d-flex align-items-center">
              <span
                class="avatar avatar-xs rounded-circle bg-success border-0 me-2"
                ><i class="ti ti-check fs-14"></i
              ></span>
              Implement OAuth 2.0 for authorization
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <form action="connected-apps" class="w-100">
          <div class="d-flex align-items-center mb-3">
            <input type="text" class="form-control flex-fill" />
            <a
              class="border rounded d-flex align-items-center justify-content-center p-2 ms-3"
              ><i class="ti ti-copy"></i
            ></a>
          </div>
          <div class="d-flex align-items-center">
            <button type="button" class="btn btn-light me-3 flex-fill">
              Cancel
            </button>
            <button type="submit" class="btn btn-primary flex-fill">
              Connect
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Connect App -->

<!-- Connect App -->
<div class="modal fade" id="connect_app_four">
  <div class="modal-dialog modal-dialog-centered connected-app-modal">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex align-items-center justify-content-center">
          <span class="modal-logo-small me-3"
            ><img src="assets/img/icons/modal-small-logo.svg" alt="Img"
          /></span>
          <div class="connected-design">
            <span></span>
            <span></span>
          </div>
          <span
            ><img src="assets/img/icons/connected-app-04.svg" alt="Img"
          /></span>
        </div>
        <div class="border-bottom pb-3 mb-3">
          <h5 class="mb-2">Connect with Github</h5>
          <p>Confirm requirements to connect with Github</p>
        </div>
        <div>
          <h5 class="mb-2">Slack requires :</h5>
          <ul>
            <li class="mb-2 d-flex align-items-center">
              <span
                class="avatar avatar-xs rounded-circle bg-success border-0 me-2"
                ><i class="ti ti-check fs-16"></i
              ></span>
              New Slack Workspace for communication
            </li>
            <li class="mb-2 d-flex align-items-center">
              <span
                class="avatar avatar-xs rounded-circle bg-success border-0 me-2"
                ><i class="ti ti-check fs-14"></i
              ></span>
              Slack API to interact with Slack
            </li>
            <li class="d-flex align-items-center">
              <span
                class="avatar avatar-xs rounded-circle bg-success border-0 me-2"
                ><i class="ti ti-check fs-14"></i
              ></span>
              Implement OAuth 2.0 for authorization
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <form action="connected-apps" class="w-100">
          <div class="d-flex align-items-center mb-3">
            <input type="text" class="form-control flex-fill" />
            <a
              class="border rounded d-flex align-items-center justify-content-center p-2 ms-3"
              ><i class="ti ti-copy"></i
            ></a>
          </div>
          <div class="d-flex align-items-center">
            <button type="button" class="btn btn-light me-3 flex-fill">
              Cancel
            </button>
            <button type="submit" class="btn btn-primary flex-fill">
              Connect
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Connect App -->
