<div class="content bg-white">
  <div
    class="d-md-flex d-block align-items-center justify-content-between border-bottom pb-3"
  >
    <div class="my-auto mb-2">
      <h3 class="page-title mb-1">System Settings</h3>
      <nav>
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="admin-dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Settings</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            System Settings
          </li>
        </ol>
      </nav>
    </div>
    <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
      <div class="pe-1 mb-2">
        <a
          href="#"
          class="btn btn-outline-light bg-white btn-icon"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          aria-label="Refresh"
          data-bs-original-title="Refresh"
        >
          <i class="ti ti-refresh"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-2 col-xl-3">
      <div class="pt-3 d-flex flex-column list-group mb-4">
        <a href="email-settings" class="d-block rounded active p-2"
          >Email Settings</a
        >
        <a href="email-templates" class="d-block rounded p-2"
          >Email Templates</a
        >
        <a href="sms-settings" class="d-block rounded p-2">SMS Settings</a>
        <a href="otp-settings" class="d-block rounded p-2">OTP</a>
        <a href="gdpr-cookies" class="d-block rounded p-2">GDPR Cookies</a>
      </div>
    </div>
    <div class="col-xxl-10 col-xl-9">
      <div class="flex-fill border-start ps-3">
        <form action="email-settings">
          <div
            class="d-flex align-items-center justify-content-between flex-wrap border-bottom pt-3 mb-3"
          >
            <div class="mb-3">
              <h5 class="mb-1">Email Settings</h5>
              <p>Email Settings Configuration</p>
            </div>
            <div class="mb-3">
              <button class="btn btn-light me-2" type="button">Cancel</button>
              <button class="btn btn-primary" type="submit">Save</button>
            </div>
          </div>
          <div class="d-md-flex">
            <div class="flex-fill">
              <div class="row">
                <div class="col-xxl-4 col-xl-6">
                  <div class="card">
                    <div
                      class="card-header d-flex align-items-center justify-content-between border-0 mb-3 pb-0"
                    >
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar avatar-lg p-2 rounded bg-gray flex-shrink-0 me-2"
                          ><img src="assets/img/icons/php-icon.svg" alt="Img"
                        /></span>
                        <h6>PHP Mailer</h6>
                      </div>
                      <span class="badge bg-transparent-success text-success"
                        >Connected</span
                      >
                    </div>
                    <div class="card-body pt-0">
                      <p>
                        Used to send emails safely and easily via PHP code from
                        a web server.
                      </p>
                    </div>
                    <div
                      class="card-footer d-flex justify-content-between align-items-center"
                    >
                      <div>
                        <a
                          href="#"
                          class="btn btn-outline-light"
                          data-bs-toggle="modal"
                          data-bs-target="#connect_php"
                          ><i class="ti ti-tool me-2"></i>View Integration</a
                        >
                      </div>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="user1" class="check" />
                        <label for="user1" class="checktoggle"> </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-6">
                  <div class="card">
                    <div
                      class="card-header d-flex align-items-center justify-content-between border-0 mb-3 pb-0"
                    >
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar avatar-lg p-2 rounded bg-gray flex-shrink-0 me-2"
                          ><img src="assets/img/icons/smtp-icon.svg" alt="Img"
                        /></span>
                        <h6>SMTP</h6>
                      </div>
                      <span class="badge bg-transparent-dark text-dark"
                        >Not Connected</span
                      >
                    </div>
                    <div class="card-body pt-0">
                      <p>
                        SMTP is used to send, relay or forward messages from a
                        mail client.
                      </p>
                    </div>
                    <div
                      class="card-footer d-flex justify-content-between align-items-center"
                    >
                      <div>
                        <a
                          href="#"
                          class="btn btn-outline-light"
                          data-bs-toggle="modal"
                          data-bs-target="#connect_smtp"
                          ><i class="ti ti-tool me-2"></i>View Integration</a
                        >
                      </div>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="user2" class="check" />
                        <label for="user2" class="checktoggle"> </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-6">
                  <div class="card">
                    <div
                      class="card-header d-flex align-items-center justify-content-between border-0 mb-3 pb-0"
                    >
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar avatar-lg p-2 rounded bg-gray flex-shrink-0 me-2"
                          ><img
                            src="assets/img/icons/google-icon-02.svg"
                            alt="Img"
                        /></span>
                        <h6>Google</h6>
                      </div>
                      <span class="badge bg-transparent-dark text-dark"
                        >Not Connected</span
                      >
                    </div>
                    <div class="card-body pt-0">
                      <p>
                        Cloud-based email marketing tool that assists marketers
                        and developers .
                      </p>
                    </div>
                    <div
                      class="card-footer d-flex justify-content-between align-items-center"
                    >
                      <div>
                        <a
                          href="#"
                          class="btn btn-outline-light"
                          data-bs-toggle="modal"
                          data-bs-target="#connect_test_mail"
                          ><i class="ti ti-tool me-2"></i>View Integration</a
                        >
                      </div>
                      <div class="status-toggle modal-status">
                        <input type="checkbox" id="user3" class="check" />
                        <label for="user3" class="checktoggle"> </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Connect Php -->
<div class="modal fade" id="connect_php">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">PHP Mailer</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form action="email-settings">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">From Email Address</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter Email"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Email Password</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Enter Password"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">From Email Name</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Enter Email Name"
                />
              </div>
              <div
                class="modal-satus-toggle d-flex align-items-center justify-content-between"
              >
                <div class="status-title">
                  <h5>Status</h5>
                  <p>Change the Status by toggle</p>
                </div>
                <div class="status-toggle modal-status">
                  <input type="checkbox" id="user4" class="check" checked="" />
                  <label for="user4" class="checktoggle"> </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Connect Php -->

<!-- Connect Smtp -->
<div class="modal fade" id="connect_smtp">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">SMTP</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form action="email-settings">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">From Email Address</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter Email"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Email Password</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Enter Password"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Email Host</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Enter Email Host"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Port</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Enter Port"
                />
              </div>
              <div
                class="modal-satus-toggle d-flex align-items-center justify-content-between"
              >
                <div class="status-title">
                  <h5>Status</h5>
                  <p>Change the Status by toggle</p>
                </div>
                <div class="status-toggle modal-status">
                  <input type="checkbox" id="user5" class="check" checked="" />
                  <label for="user5" class="checktoggle"> </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Connect Smtp -->

<!-- Connect Test Mail -->
<div class="modal fade" id="connect_test_mail">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Google</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form action="email-settings">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-0">
                <label class="form-label">From Email Address</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter Email"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Connect Test Mail -->
