<div class="content bg-white">
  <div
    class="d-md-flex d-block align-items-center justify-content-between border-bottom pb-3"
  >
    <div class="my-auto mb-2">
      <h3 class="page-title mb-1">Academic Settings</h3>
      <nav>
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Settings</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Academic Settings
          </li>
        </ol>
      </nav>
    </div>
    <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
      <div class="pe-1 mb-2">
        <a
          href="#"
          class="btn btn-outline-light bg-white btn-icon"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          aria-label="Refresh"
          data-bs-original-title="Refresh"
        >
          <i class="ti ti-refresh"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-2 col-xl-3">
      <div class="pt-3 d-flex flex-column list-group mb-4">
        <a href="school-settings" class="d-block rounded p-2"
          >School Settings</a
        >
        <a href="religion" class="d-block rounded active p-2">Religion</a>
      </div>
    </div>
    <div class="col-xxl-10 col-xl-9">
      <div class="border-start ps-3">
        <form action="religion">
          <div
            class="d-flex align-items-center justify-content-between flex-wrap border-bottom pt-3 mb-3"
          >
            <div class="mb-3">
              <h5 class="mb-1">Religion</h5>
              <p>Religion Settings Configuration</p>
            </div>
            <div class="mb-3">
              <a
                href="#"
                class="btn btn-outline-light bg-white btn-icon me-2"
                data-bs-toggle="modal"
                data-bs-target="#add_religion"
                ><i class="ti ti-plus"></i
              ></a>
              <button class="btn btn-light me-2" type="button">Cancel</button>
              <button class="btn btn-primary" type="submit">Save</button>
            </div>
          </div>
          <div class="d-md-flex">
            <div class="row flex-fill">
              <div class="col-xxl-4 col-md-6">
                <div
                  class="d-flex align-items-center justify-content-between bg-white p-3 border rounded mb-3"
                >
                  <h5 class="fs-15 fw-normal">Hindu</h5>
                  <div class="d-flex align-items-center">
                    <div class="status-toggle modal-status">
                      <input type="checkbox" id="user1" class="check" />
                      <label for="user1" class="checktoggle"> </label>
                    </div>
                    <div class="d-flex align-items-center ms-3">
                      <a
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#edit_religion"
                        ><i class="ti ti-edit me-2"></i
                      ></a>
                      <a
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#delete-modal"
                        ><i class="ti ti-trash"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-md-6">
                <div
                  class="d-flex align-items-center justify-content-between bg-white p-3 border rounded mb-3"
                >
                  <h5 class="fs-15 fw-normal">Christian</h5>
                  <div class="d-flex align-items-center">
                    <div class="status-toggle modal-status">
                      <input type="checkbox" id="user2" class="check" />
                      <label for="user2" class="checktoggle"> </label>
                    </div>
                    <div class="d-flex align-items-center ms-3">
                      <a
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#edit_religion"
                        ><i class="ti ti-edit me-2"></i
                      ></a>
                      <a
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#delete-modal"
                        ><i class="ti ti-trash"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-md-6">
                <div
                  class="d-flex align-items-center justify-content-between bg-white p-3 border rounded mb-3"
                >
                  <h5 class="fs-15 fw-normal">Islam</h5>
                  <div class="d-flex align-items-center">
                    <div class="status-toggle modal-status">
                      <input type="checkbox" id="user3" class="check" />
                      <label for="user3" class="checktoggle"> </label>
                    </div>
                    <div class="d-flex align-items-center ms-3">
                      <a
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#edit_religion"
                        ><i class="ti ti-edit me-2"></i
                      ></a>
                      <a
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#delete-modal"
                        ><i class="ti ti-trash"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Add Religion -->
<div class="modal fade" id="add_religion">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Religion</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form action="religion">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Name"
                />
              </div>
              <div
                class="modal-satus-toggle d-flex align-items-center justify-content-between"
              >
                <div class="status-title">
                  <h5>Status</h5>
                  <p>Change the Status by toggle</p>
                </div>
                <div class="status-toggle modal-status">
                  <input type="checkbox" id="user4" class="check" />
                  <label for="user4" class="checktoggle"> </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button type="submit" class="btn btn-primary">Add Religion</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Add Religion -->

<!-- Edit Religion -->
<div class="modal fade" id="edit_religion">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Religion</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form action="religion">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Name"
                />
              </div>
              <div
                class="modal-satus-toggle d-flex align-items-center justify-content-between"
              >
                <div class="status-title">
                  <h5>Status</h5>
                  <p>Change the Status by toggle</p>
                </div>
                <div class="status-toggle modal-status">
                  <input type="checkbox" id="user5" class="check" checked />
                  <label for="user5" class="checktoggle"> </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Edit Religion -->

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="religion">
        <div class="modal-body text-center">
          <span class="delete-icon">
            <i class="ti ti-trash-x"></i>
          </span>
          <h4>Confirm Deletion</h4>
          <p>
            You want to delete all the marked items, this cant be undone once
            you delete.
          </p>
          <div class="d-flex justify-content-center">
            <a
              href="javascript:void(0);"
              class="btn btn-light me-3"
              data-bs-dismiss="modal"
              >Cancel</a
            >
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Delete Modal -->
