<div class="content bg-white">
  <div
    class="d-md-flex d-block align-items-center justify-content-between border-bottom pb-3"
  >
    <div class="my-auto mb-2">
      <h3 class="page-title mb-1">Financial Settings</h3>
      <nav>
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Settings</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Financial Settings
          </li>
        </ol>
      </nav>
    </div>
    <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
      <div class="pe-1 mb-2">
        <a
          href="#"
          class="btn btn-outline-light bg-white btn-icon"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          aria-label="Refresh"
          data-bs-original-title="Refresh"
        >
          <i class="ti ti-refresh"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-2 col-xl-3">
      <div class="pt-3 d-flex flex-column list-group mb-4">
        <a href="payment-gateways" class="d-block rounded p-2"
          >Payment Gateway</a
        >
        <a href="tax-rates" class="d-block rounded active p-2">Tax Rates</a>
      </div>
    </div>
    <div class="col-xxl-10 col-xl-9">
      <div class="border-start ps-3">
        <form action="tax-rates">
          <div
            class="d-flex align-items-center justify-content-between flex-wrap border-bottom pt-3 mb-3"
          >
            <div class="mb-3">
              <h5 class="mb-1">Tax Rates</h5>
              <p>Tax Rates Configuration</p>
            </div>
            <div class="mb-3">
              <a
                href="#"
                class="btn btn-outline-light bg-white btn-icon me-2"
                data-bs-toggle="modal"
                data-bs-target="#add_tax_rate"
                ><i class="ti ti-plus"></i
              ></a>
              <button class="btn btn-light me-2" type="button">Cancel</button>
              <button class="btn btn-primary" type="submit">Save</button>
            </div>
          </div>
          <div class="d-md-flex">
            <div class="flex-fill">
              <div class="row">
                <div class="col-xxl-4 col-lg-6">
                  <div class="mb-3">
                    <label class="form-label">VAT</label>
                    <div class="position-relative">
                      <input
                        type="text"
                        class="form-control pe-5"
                        value="16%"
                      />
                      <div
                        class="d-flex align-items-center position-absolute end-0 top-0 me-2 mt-2"
                      >
                        <a
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_tax_rate"
                          ><i class="ti ti-edit me-2"></i
                        ></a>
                        <a
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-lg-6">
                  <div class="mb-3">
                    <label class="form-label">GST</label>
                    <div class="position-relative">
                      <input type="text" class="form-control" value="14%" />
                      <div
                        class="d-flex align-items-center position-absolute end-0 top-0 me-2 mt-2"
                      >
                        <a
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_tax_rate"
                          ><i class="ti ti-edit me-2"></i
                        ></a>
                        <a
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-lg-6">
                  <div class="mb-3">
                    <label class="form-label">HST</label>
                    <div class="position-relative">
                      <input type="text" class="form-control" value="12%" />
                      <div
                        class="d-flex align-items-center position-absolute end-0 top-0 me-2 mt-2"
                      >
                        <a
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit_tax_rate"
                          ><i class="ti ti-edit me-2"></i
                        ></a>
                        <a
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#delete-modal"
                          ><i class="ti ti-trash"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Add Tax Rate -->
<div class="modal fade" id="add_tax_rate">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Tax Rate</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form action="tax-rates">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Name"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Tax Rate %</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Tax Rate"
                />
              </div>
              <div
                class="modal-satus-toggle d-flex align-items-center justify-content-between"
              >
                <div class="status-title">
                  <h5>Status</h5>
                  <p>Change the Status by toggle</p>
                </div>
                <div class="status-toggle modal-status">
                  <input type="checkbox" id="user1" class="check" />
                  <label for="user1" class="checktoggle"> </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button type="submit" class="btn btn-primary">Add Tax Rate</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Add Tax Rate -->

<!-- Edit Tax Rate -->
<div class="modal fade" id="edit_tax_rate">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Tax Rate</h4>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="ti ti-x"></i>
        </button>
      </div>
      <form action="tax-rates">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Name"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Tax Rate %</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Tax Rate"
                  value="5%"
                />
              </div>
              <div
                class="modal-satus-toggle d-flex align-items-center justify-content-between"
              >
                <div class="status-title">
                  <h5>Status</h5>
                  <p>Change the Status by toggle</p>
                </div>
                <div class="status-toggle modal-status">
                  <input type="checkbox" id="user2" class="check" checked="" />
                  <label for="user2" class="checktoggle"> </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal"
            >Cancel</a
          >
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Edit Tax Rate -->

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="tax-rates">
        <div class="modal-body text-center">
          <span class="delete-icon">
            <i class="ti ti-trash-x"></i>
          </span>
          <h4>Confirm Deletion</h4>
          <p>
            You want to delete all the marked items, this cant be undone once
            you delete.
          </p>
          <div class="d-flex justify-content-center">
            <a
              href="javascript:void(0);"
              class="btn btn-light me-2"
              data-bs-dismiss="modal"
              >Cancel</a
            >
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Delete Modal -->
