<div class="content">

    <!-- Page Header -->
    <div class="d-md-flex d-block align-items-center justify-content-between mb-3">
        <div class="my-auto mb-2">
            <h3 class="page-title mb-1">Countries</h3>
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="admin-dashboard">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0);">Content</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Countries</li>
                </ol>
            </nav>
        </div>
        <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
            <div class="pe-1 mb-2">
                <a href="#" class="btn btn-outline-light bg-white btn-icon me-1" data-bs-toggle="tooltip"
                    data-bs-placement="top" aria-label="Refresh" data-bs-original-title="Refresh">
                    <i class="ti ti-refresh"></i>
                </a>
            </div>
            <div class="pe-1 mb-2">
                <button type="button" class="btn btn-outline-light bg-white btn-icon me-1"
                    data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Print"
                    data-bs-original-title="Print">
                    <i class="ti ti-printer"></i>
                </button>
            </div>
            <div class="dropdown me-2 mb-2">
                <a href="javascript:void(0);"
                    class="dropdown-toggle btn btn-light fw-medium d-inline-flex align-items-center"
                    data-bs-toggle="dropdown">
                    <i class="ti ti-file-export me-2"></i>Export
                </a>
                <ul class="dropdown-menu  dropdown-menu-end p-3">
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1"><i
                                class="ti ti-file-type-pdf me-1"></i>Export as PDF</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1"><i
                                class="ti ti-file-type-xls me-1"></i>Export as Excel </a>
                    </li>
                </ul>
            </div>
            <div class="mb-2">
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_country"><i
                        class="ti ti-square-rounded-plus-filled me-2"></i>Add
                    Country</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between flex-wrap pb-0">
            <h4 class="mb-3">Country List</h4>
            <div class="d-flex align-items-center flex-wrap">
                <div class="input-icon-start mb-3 me-2 position-relative">
                    <span class="icon-addon">
                        <i class="ti ti-calendar"></i>
                    </span>
                    <input type="text" class="form-control date-range bookingrange" placeholder="Select"
                    value="Academic Year : 2024 / 2025">
                </div>
                <div class="dropdown mb-3 me-2">
                    <a href="javascript:void(0);" class="btn btn-outline-light bg-white dropdown-toggle"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"><i
                            class="ti ti-filter me-2"></i>Filter</a>
                    <div class="dropdown-menu drop-width">
                        <form action="countries">
                            <div class="d-flex align-items-center border-bottom p-3">
                                <h4>Filter</h4>
                            </div>
                            <div class="p-3 border-bottom">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Country</label>
                                            <select class="select">
                                                <option>Select</option>
                                                <option>United States</option>
                                                <option>Canada</option>
                                                <option>United Kingdom</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Code</label>
                                            <select class="select">
                                                <option>Select</option>
                                                <option>US</option>
                                                <option>CA</option>
                                                <option>UK</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-0">
                                            <label class="form-label">Status</label>
                                            <select class="select">
                                                <option>Select</option>
                                                <option>Active</option>
                                                <option>Inactive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3 d-flex align-items-center justify-content-end">
                                <a href="#" class="btn btn-light me-3">Reset</a>
                                <button type="submit" class="btn btn-primary">Apply</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="dropdown mb-3">
                    <a href="javascript:void(0);" class="btn btn-outline-light bg-white dropdown-toggle"
                        data-bs-toggle="dropdown"><i class="ti ti-sort-ascending-2 me-2"></i>Sort by A-Z
                    </a>
                    <ul class="dropdown-menu p-3">
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1 active">
                                Ascending
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                Descending
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                Recently Viewed
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                Recently Added
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="card-body p-0 py-3">
            <!-- Country List -->
            <div class="custom-datatable-filter
            table-responsive">
                <table class="table datatable">
                    <thead class="thead-light">
                        <tr>
                            <th class="no-sort">
                                <div class="form-check form-check-md">
                                    <input class="form-check-input" type="checkbox" id="select-all">
                                </div>
                            </th>
                            <th>ID</th>
                            <th>Country Name</th>
                            <th>Country Code</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-check form-check-md">
                                    <input class="form-check-input" type="checkbox">
                                </div>
                            </td>
                            <td><a href="#" class="link-primary">CO378258</a></td>
                            <td>United States</td>
                            <td>US</td>
                            <td>
                                <span class="badge badge-soft-success d-inline-flex align-items-center"><i
                                        class="ti ti-circle-filled fs-5 me-1"></i>Active</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="dropdown">
                                        <a href="#"
                                            class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ti ti-dots-vertical fs-14"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right p-3">
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#" data-bs-toggle="modal" data-bs-target="#edit_country"><i
                                                        class="ti ti-edit-circle me-2"></i>Edit</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#"
                                                    data-bs-toggle="modal" data-bs-target="#delete-modal"><i
                                                        class="ti ti-trash-x me-2"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check form-check-md">
                                    <input class="form-check-input" type="checkbox">
                                </div>
                            </td>
                            <td><a href="#" class="link-primary">CO378257</a></td>
                            <td>Canada</td>
                            <td>CA</td>
                            <td>
                                <span class="badge badge-soft-success d-inline-flex align-items-center"><i
                                        class="ti ti-circle-filled fs-5 me-1"></i>Active</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="dropdown">
                                        <a href="#"
                                            class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ti ti-dots-vertical fs-14"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right p-3">
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#" data-bs-toggle="modal" data-bs-target="#edit_country"><i
                                                        class="ti ti-edit-circle me-2"></i>Edit</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#"
                                                    data-bs-toggle="modal" data-bs-target="#delete-modal"><i
                                                        class="ti ti-trash-x me-2"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check form-check-md">
                                    <input class="form-check-input" type="checkbox">
                                </div>
                            </td>
                            <td><a href="#" class="link-primary">CO378256</a></td>
                            <td>United Kingdom</td>
                            <td>UK</td>
                            <td>
                                <span class="badge badge-soft-success d-inline-flex align-items-center"><i
                                        class="ti ti-circle-filled fs-5 me-1"></i>Active</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="dropdown">
                                        <a href="#"
                                            class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ti ti-dots-vertical fs-14"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right p-3">
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#"><i
                                                        class="ti ti-edit-circle me-2" data-bs-toggle="modal" data-bs-target="#edit_country"></i>Edit</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#"
                                                    data-bs-toggle="modal" data-bs-target="#delete-modal"><i
                                                        class="ti ti-trash-x me-2"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check form-check-md">
                                    <input class="form-check-input" type="checkbox">
                                </div>
                            </td>
                            <td><a href="#" class="link-primary">CO378255</a></td>
                            <td>Germany</td>
                            <td>DE</td>
                            <td>
                                <span class="badge badge-soft-success d-inline-flex align-items-center"><i
                                        class="ti ti-circle-filled fs-5 me-1"></i>Active</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="dropdown">
                                        <a href="#"
                                            class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ti ti-dots-vertical fs-14"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right p-3">
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#" data-bs-toggle="modal" data-bs-target="#edit_country"><i
                                                        class="ti ti-edit-circle me-2"></i>Edit</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#"
                                                    data-bs-toggle="modal" data-bs-target="#delete-modal"><i
                                                        class="ti ti-trash-x me-2"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check form-check-md">
                                    <input class="form-check-input" type="checkbox">
                                </div>
                            </td>
                            <td><a href="#" class="link-primary">CO378254</a></td>
                            <td>France</td>
                            <td>FR</td>
                            <td>
                                <span class="badge badge-soft-success d-inline-flex align-items-center"><i
                                        class="ti ti-circle-filled fs-5 me-1"></i>Active</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="dropdown">
                                        <a href="#"
                                            class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ti ti-dots-vertical fs-14"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right p-3">
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#" data-bs-toggle="modal" data-bs-target="#edit_country"><i
                                                        class="ti ti-edit-circle me-2"></i>Edit</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#"
                                                    data-bs-toggle="modal" data-bs-target="#delete-modal"><i
                                                        class="ti ti-trash-x me-2"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check form-check-md">
                                    <input class="form-check-input" type="checkbox">
                                </div>
                            </td>
                            <td><a href="#" class="link-primary">CO378253</a></td>
                            <td>Argentina</td>
                            <td>AR</td>
                            <td>
                                <span class="badge badge-soft-success d-inline-flex align-items-center"><i
                                        class="ti ti-circle-filled fs-5 me-1"></i>Active</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="dropdown">
                                        <a href="#"
                                            class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ti ti-dots-vertical fs-14"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right p-3">
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#" data-bs-toggle="modal" data-bs-target="#edit_country"><i
                                                        class="ti ti-edit-circle me-2"></i>Edit</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#"
                                                    data-bs-toggle="modal" data-bs-target="#delete-modal"><i
                                                        class="ti ti-trash-x me-2"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check form-check-md">
                                    <input class="form-check-input" type="checkbox">
                                </div>
                            </td>
                            <td><a href="#" class="link-primary">CO378252</a></td>
                            <td>India</td>
                            <td>IN</td>
                            <td>
                                <span class="badge badge-soft-success d-inline-flex align-items-center"><i
                                        class="ti ti-circle-filled fs-5 me-1"></i>Active</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="dropdown">
                                        <a href="#"
                                            class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ti ti-dots-vertical fs-14"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right p-3">
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#" data-bs-toggle="modal" data-bs-target="#edit_country"><i
                                                        class="ti ti-edit-circle me-2"></i>Edit</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#"
                                                    data-bs-toggle="modal" data-bs-target="#delete-modal"><i
                                                        class="ti ti-trash-x me-2"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check form-check-md">
                                    <input class="form-check-input" type="checkbox">
                                </div>
                            </td>
                            <td><a href="#" class="link-primary">CO378251</a></td>
                            <td>Italy</td>
                            <td>IT</td>
                            <td>
                                <span class="badge badge-soft-success d-inline-flex align-items-center"><i
                                        class="ti ti-circle-filled fs-5 me-1"></i>Active</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="dropdown">
                                        <a href="#"
                                            class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ti ti-dots-vertical fs-14"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right p-3">
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#" data-bs-toggle="modal" data-bs-target="#edit_country"><i
                                                        class="ti ti-edit-circle me-2"></i>Edit</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#"
                                                    data-bs-toggle="modal" data-bs-target="#delete-modal"><i
                                                        class="ti ti-trash-x me-2"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check form-check-md">
                                    <input class="form-check-input" type="checkbox">
                                </div>
                            </td>
                            <td><a href="#" class="link-primary">CO378250</a></td>
                            <td>New Zealand</td>
                            <td>NZ</td>
                            <td>
                                <span class="badge badge-soft-success d-inline-flex align-items-center"><i
                                        class="ti ti-circle-filled fs-5 me-1"></i>Active</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="dropdown">
                                        <a href="#"
                                            class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ti ti-dots-vertical fs-14"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right p-3">
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#" data-bs-toggle="modal" data-bs-target="#edit_country"><i
                                                        class="ti ti-edit-circle me-2"></i>Edit</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#"
                                                    data-bs-toggle="modal" data-bs-target="#delete-modal"><i
                                                        class="ti ti-trash-x me-2"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check form-check-md">
                                    <input class="form-check-input" type="checkbox">
                                </div>
                            </td>
                            <td><a href="#" class="link-primary">CO378249</a></td>
                            <td>Australia</td>
                            <td>AU</td>
                            <td>
                                <span class="badge badge-soft-success d-inline-flex align-items-center"><i
                                        class="ti ti-circle-filled fs-5 me-1"></i>Active</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="dropdown">
                                        <a href="#"
                                            class="btn btn-white btn-icon btn-sm d-flex align-items-center justify-content-center rounded-circle p-0"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ti ti-dots-vertical fs-14"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right p-3">
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#" data-bs-toggle="modal" data-bs-target="#edit_country"><i
                                                        class="ti ti-edit-circle me-2"></i>Edit</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item rounded-1" href="#"
                                                    data-bs-toggle="modal" data-bs-target="#delete-modal"><i
                                                        class="ti ti-trash-x me-2"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /Country List -->
        </div>
    </div>
</div>

<!-- Add Country -->
<div class="modal fade" id="add_country">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Country</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <form action="countries">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Country Name</label>
                                <input type="text" class="form-control" placeholder="Enter Country Name">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Country Code</label>
                                <input type="text" class="form-control" placeholder="Enter Country Code">
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="status-title">
                                    <h5>Status</h5>
                                    <p>Change the Status by toggle </p>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="switch-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-primary">Add Country</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Add Country -->

<!-- Edit Country -->
<div class="modal fade" id="edit_country">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Country</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <form action="countries">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Country Name</label>
                                <input type="text" class="form-control" placeholder="Enter Country Name" value="United States">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Country Code</label>
                                <input type="text" class="form-control" placeholder="Enter Country Code" value="US">
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="status-title">
                                    <h5>Status</h5>
                                    <p>Change the Status by toggle </p>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="switch-sm2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Edit Country -->

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="countries">
                <div class="modal-body text-center">
                    <span class="delete-icon">
                        <i class="ti ti-trash-x"></i>
                    </span>
                    <h4>Confirm Deletion</h4>
                    <p>You want to delete all the marked items, this cant be undone once you delete.</p>
                    <div class="d-flex justify-content-center">
                        <a href="javascript:void(0);" class="btn btn-light me-3"
                            data-bs-dismiss="modal">Cancel</a>
                        <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Delete Modal -->